<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>계정 상세보기</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/admin/sidebar.css">
  <link rel="stylesheet" href="/css/admin/header.css">

  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <header th:insert="~{fragment/admin/header::headers}"></header>
    <sidebar th:insert="~{fragment/admin/sidebar::sidebars}"></sidebar>

    <main>
      <div class="main-right">
        <div class="main-empview">
          <h2>::Account VIEW</h2>
          <div class="tbl">
            <table>
              <tbody>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>


</body>

</html>