<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>계정 상세보기</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/admin/body.css">
  <link rel="stylesheet" href="/css/admin/fragmentCSS/sidebar.css">
  <link rel="stylesheet" href="/css/admin/fragmentCSS/header.css">
  <link rel="stylesheet" href="/css/admin/account_view.css">

  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <style>

  </style>
</head>

<body>
  <div class="container">
    <header th:insert="~{fragment/admin/header::headers}"></header>
    <sidebar th:insert="~{fragment/admin/sidebar::sidebars}"></sidebar>

    <main>
      <div class="main-right">
        <div class="main-empview">
          <h2>::Account VIEW</h2>
          <div class="tbl">
            <table id="Account-view">
              <tbody>
                <tr>
                  <td class="tit w-img" >
                      <div class="image-container" th:if="${user.saveName != '' && user.saveName != null}">
                          <img th:src="@{/images/mypage/user_image/} + ${user.saveName}" alt="profile" style="height: 260px; width: 260px;">
                      </div>
                      <div class="image-container" th:unless="${user.saveName != '' && user.saveName != null}">
                          <img th:src="@{/images/user.png}" alt="profile" style="height: 260px; width: 260px;">
                      </div>
<!--                    <img th:src="@{/images/user.png}">-->
                    <a th:onclick="deleteAccountImg([[${acct.regId}]])">
                      <button class="img_del">이미지삭제</button>
                    </a>
                  </td> <!-- 프로필 사진 -->
                </tr><br />
                <tr>
                  <td class="tit w-15">번호 : [[${acct.regId}]] <!-- 계정 넘버 -->
                    <p>구분 : [[${acct.levelName}]]<!-- 관리자, 회원 구분 --></p>
                  </td>
                </tr>
                <tr>
                  <td class="tit w-15">이름 : [[${acct.name}]]
                    <p>아이디 : [[${acct.id}]]</p>
                    <p>성별 : [[${acct.gender}]]</p>
                  </td>
                  <td>등급 : [[${acct.grade}]]</td>
                </tr>
                <tr>
                  <td>이메일 : [[${acct.email}]]</td>
                </tr>
                <tr>
                  <td>우편번호 : [[${acct.postcode}]]
                    <p>
                      주소 : [[${acct.address}]]
                    </p>
                    <p>
                      상세 주소 : [[${acct.address1}]]
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>전화번호 : [[${acct.tel}]]</td>
                </tr>
                <tr>
                  <td>회원 가입일 : [[${#temporals.format(acct.created, 'yyyy. MM. dd hh:mm:ss')}]]</td>
                  <td>회원 수정일 : [[${#temporals.format(acct.modified, 'yyyy. MM. dd hh:mm:ss')}]]</td>
                </tr>
              </tbody>
            </table>
            <div class="btn-wrap">
              <a th:href="@{/admin/account}">
                <button class="btn01">계정목록</button>
              </a>
              <a href="">
                <button class="btn02">계정수정</button>
              </a>
              <a th:onclick="deleteAccount([[${acct.regId}]])">
                <button class="btn03" th:disablied="${acct.level eq 9}">계정삭제</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script>
    function deleteAccount(regId){
      if(confirm("회원정보를 삭제 하시겠습니까? \n삭제 된 정보는 복원할 수 없습니다.")){
        $.ajax({
          type : "get",
          url  : " /admin/AccountView/delete",
          dataType : "json",
          data: {regId},
          success: function(res){
            if(res.msg == "success"){
              alert("회원 정보가 삭제 되었습니다.")
              location.href = "/admin/account";
            }
          },
          error:function(err){
            console.log(err)
          }
        });
      }
    }

    function deleteAccountImg(regId){
      if(confirm("회원 이미지를 삭제 하시겠습니까? \n삭제 된 이미지는 복원할 수 없습니다.")){
        $.ajax({
          type : "get",
          url  : "/admin/AccountView/deleteImg",
          dataType : "json",
          data: {regId},
          success: function(res){
            if(res.msg == "success"){
              alert("회원 이미지가 삭제 되었습니다.")
              location.reload();
            }
          },
          error:function(err){
            alert("저장된 이미지가 없습니다.")
            location.reload();
            console.log(err)
          }
        });
      }
    }

  </script>

  <script th:src="@{/js/admin/sidebar.js}"></script>
  <!--  로그인 체크 -->
  <div th:unless="${session.adminChk != null}">
    <script>
      location.href = "/login";
    </script>
  </div>
</body>

</html>