<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>계정 상세보기</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/admin/body.css">
  <link rel="stylesheet" href="/css/admin/fragmentCSS/sidebar.css">
  <link rel="stylesheet" href="/css/admin/fragmentCSS/header.css">

  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <style>
    tbody {
      width: 100%;
    }

    table tr{
      border-bottom: 1px solid #888;
    }

    table tr:nth-child(1) {
      border-top:1px solid #ccc;
    }

    .w-15 p{
      border-top:1px solid #ccc;
    }


  </style>
</head>

<body>
  <div class="container">
    <header th:insert="~{fragment/admin/header::headers}"></header>
    <sidebar th:insert="~{fragment/admin/sidebar::sidebars}"></sidebar>

    <main>
      <div class="main-right">
        <div class="main-empview">
          <h2>::Account VIEW</h2>
          <div class="tbl">
            <table>
              <tbody>
                <tr>
                  <td class="tit w-img">이미지
                    <img src="/images/test.jpg" alt="테스트">
                  </td> <!-- 프로필 사진 -->
                </tr>
                <tr>
                  <td class="tit w-15">번호  <!-- 계정 넘버 -->
                    <p>구분<!-- 관리자, 회원 구분 --></p>
                  </td>
                </tr>
                <tr>
                  <td class="tit w-15">이름
                    <p>아이디</p>
                    <p>성별</p>
                  </td>
                  <td>등급
                    <img src="/images/test.jpg" alt="등급">
                  </td>
                </tr>
                <tr>
                  <td>이메일</td>
                </tr>
                <tr>
                  <td>우편번호 <input type="search">
                    <p>
                      주소
                      <p>
                        <input type="text" placeholder="나머지주소">
                      </p>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>전화번호</td>
                </tr>
                <tr>
                  <td>회원 가입일</td>
                  <td>회원 수정일</td>
                </tr>
              </tbody>
            </table>
            <div class="btn-wrap">
              <a href="">
                <button>계정목록</button>
              </a>
            </div>
            <div class="btn-wrap">
              <a href="">
                <button>계정삭제</button>
              </a>
            </div>
            <div class="btn-wrap">
              <a href="">
                <button>계정수정</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script th:src="@{/js/admin/sidebar.js}"></script>
</body>

</html>