<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재고관리 페이지</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/admin/body.css">
    <link rel="stylesheet" href="/css/admin/fragmentCSS/header.css">
    <link rel="stylesheet" href="/css/admin/fragmentCSS/sidebar.css">
    <link rel="stylesheet" href="/css/admin/inventory.css">
    <link rel="stylesheet" href="/css/admin/media.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <style>
    </style>
</head>

<body>
    <div class="container">
        <header th:insert="~{fragment/admin/header::headers}"></header>
        <sidebar th:insert="~{fragment/admin/sidebar::sidebars}"></sidebar>

        <main>
            <div class="main-right">
                <div class="main-inven">
                    <h2>::상품추가 페이지</h2>
                    <div class="inven-top">
                        <h3>상품 입력</h3>
                        <div class="container_wr">
                            <form>
                                <select id="book_cate">
                                    <h2>상품 분류</h2>

                                    <div>
                                        <table>
                                            <caption>책 분류 입력</caption>
                                            <colgroup>
                                                <col>
                                                <col>
                                            </colgroup>
                                            <table>
                                                <tr>
                                                    <th>
                                                        <label>기본 분류</label>
                                                    </th>
                                                    <td>
                                                        <select name="ca_id" onchange="category">
                                                            <option value>선택하세요</option>
                                                            <option value="책 카테고리 필요"></option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </table>
                                    </div>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="apply"><button class="btn">설정 적용</button></div>
            </div>
        </main>
    </div>
    <script th:src="@{/js/admin/sidebar.js}"></script>
    <!--  로그인 체크 -->
    <div th:unless="${session.adminChk != null}">
        <script>
      location.href = "/login";
    </script>
    </div>
</body>

</html>