<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 상세 페이지</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/admin/body.css">
    <link rel="stylesheet" href="/css/admin/fragmentCSS/header.css">
    <link rel="stylesheet" href="/css/admin/fragmentCSS/sidebar.css">
    <link rel="stylesheet" href="/css/admin/Admin_InventoryUpdate.css">
    <link rel="stylesheet" th:href="@{/css/admin/modal.css}">
    <link rel="stylesheet" href="/css/admin/media.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>


</head>

<body>
    <div class="container">
        <header th:insert="~{fragment/admin/header::headers}"></header>
        <sidebar th:insert="~{fragment/admin/sidebar::sidebars}"></sidebar>

        <main>
            <div class="main-right">
                <div class="main-inven">
                    <h2 class="mainH2">::책 정보 수정</h2>
                    <div class="inven-top">

                        <div class="container_wr" th:each="bookInfo : ${bookInfo}">

                            <input type="hidden" class="bookId" th:value="${bookInfo.bookId}">
                            <section id="book_cate">
                                <h3 class="h2_cate">상품 분류</h3><br />
                                <div class="tb1_frm01">
                                    <table>
                                        <caption hidden="hidden">책 카테고리 입력</caption>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <label>1차 분류</label>
                                                </th>
                                                <td>
                                                    <select name="ca_id1">
                                                        <option value>선택하세요</option>
                                                        <option value="1차 분류 카테고리">카테고리1차</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label>2차 분류</label>
                                                </th>
                                                <td>
                                                    <select name="ca_id2">
                                                        <option value>선택하세요</option>
                                                        <option value="2차 분류 카테고리">카테고리2차</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label>3차 분류</label>
                                                </th>
                                                <td>
                                                    <select name="ca_id3">
                                                        <option value>선택하세요</option>
                                                        <option value="3차 분류 카테고리">카테고리3차</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                            <section id="book_grid">
                                <h3 class="midH2">상품 정보</h3><br />
                                <div class="tb1_frm01">
                                    <table>
                                        <caption hidden="hidden">책 정보 입력</caption>
                                        <tbody>
                                            <tr>
                                                <div class="image-container"
                                                     th:if="${bookInfo.saveName != '' && bookInfo.saveName != null}">
                                                    <img th:src="@{/images/temp/} + ${bookInfo.saveName}" alt="bookImg"
                                                         style="height: 260px; width: 260px;">
                                                </div>
                                                <div class="image-container"
                                                     th:unless="${bookInfo.saveName != '' && bookInfo.saveName != null}">
                                                    <img th:src="@{/images/no_image_pink.jpg}" alt="bookImg"
                                                         style="height: 260px; width: 260px;">
                                                </div>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label>책 코드</label>
                                                </th>
                                                <td>
                                                    <span>[[${bookInfo.bookCode}]]</span><br />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label>책 이름</label>
                                                </th>
                                                <td>
                                                    <span>[[${bookInfo.bookName}]]</span><br />
                                                    <input type="text" name="book_name" id="book_name">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label>작가</label>
                                                </th>
                                                <td>
                                                    <span>[[${bookInfo.author}]]</span><br />
                                                    <input type="text" name="book_author" id="book_author">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label>출판사</label>
                                                </th>
                                                <td>
                                                    <span>[[${bookInfo.publisher}]]</span><br />
                                                    <input type="text" name="book_publisher" id="book_publisher">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label>판매 가격</label>
                                                </th>
                                                <td>
                                                    <span>책의 가격을 입력</span><br />
                                                    <input type="text" name="book_price" id="book_price">"원"
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label>수량</label>
                                                </th>
                                                <td>
                                                    <span>책의 수량을 입력</span><br />
                                                    <input type="text" name="book_stock" id="book_stock">"개"
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label>상품 설명</label>
                                                </th>
                                                <td>
                                                    <span>책 설명을 입력해 주세요</span><br />
                                                    <textarea name="book_explan" id="book_explan"></textarea>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    <label>이미지 업로드</label>
                                                </th>
                                                <td>
                                                    <span>책 이미지를 선택해주세요</span><br />
                                                    <div>
                                                        <button class="book-button"
                                                            th:onclick="modal([[${bookInfo.bookId}]])">이미지수정
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="apply"><button class="btn">설정 적용</button></div>
            </div>
        </main>
        <!-- IMAGE UPLOAD(MODAL) -->
        <div id="modal">
            <i class="fa-regular fa-circle-xmark close" th:onclick="closeModal()"></i>
            <div class="modal-box">
                <form class="file-container">
                    <div class="view-image-container" th:if="${bookInfo.saveName != '' && bookInfo.saveName != null}">
                        <img th:src="@{/images/temp/} + ${bookInfo.saveName}" alt="bookImg">
                    </div>
                    <div class="view-image-container"
                        th:unless="${bookInfo.saveName != '' && bookInfo.saveName != null}">
                        <img th:src="@{/images/no_image_pink.jpg}" alt="bookImg">
                    </div>
                    <input type="file" name="uploadFile" class="uploadFile">
                    <div class="file-button">
                        <button type="button" id="upload">저장하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script th:src="@{/js/admin/bookImgModal.js}"></script>

    <script th:src="@{/js/admin/sidebar.js}"></script>
    <!--  로그인 체크 -->
    <div th:unless="${session.adminChk != null}">
        <script>
            location.href = "/login";
        </script>
    </div>
</body>

</html>