<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재고관리 페이지</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/admin/body.css">
    <link rel="stylesheet" href="/css/admin/fragmentCSS/header.css">
    <link rel="stylesheet" href="/css/admin/fragmentCSS/sidebar.css">
    <link rel="stylesheet" href="/css/admin/inventory.css">
    <link rel="stylesheet" href="/css/admin/media.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <style>
    </style>
</head>

<body>
    <div class="container">
        <header th:insert="~{fragment/admin/header::headers}"></header>
        <sidebar th:insert="~{fragment/admin/sidebar::sidebars}"></sidebar>

        <main>
            <div class="main-right">
                <div class="main-inven">
                    <h2>::재고관리 페이지</h2>
                    <div class="inven-top">
                        <a href="/admin/inventory">전체목록</a>
                        <p>부족한 상품 [[${zeroCnt}]]개</p>
                    </div>
                    <div class="inven-mid">
                        <select>
                            <option>카테고리</option>
                            <option>상품명</option>
                        </select>
                        <input type="text">
                    </div>

                    <table id="inventory">
                        <thead>
                            <tr>
                                <th>도서코드</th>
                                <th>도서명</th>
                                <th>창고재고</th> <!--책 수량-->
                                <th>주문대기</th> <!-- 주문대기 -->
                                <th>가 재고량</th> <!--창고재고 - 결제-->
                                <th>재고수정</th>
                                <th>통보수량</th> <!--상품 페이지에 나오는 남은 재고-->
                                <th>판매상황</th> <!--판매,품절,재입고-->
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody th:each="info : ${bookInfo}">
                            <tr>
                                <td>[[${info.bookCode}]]</td>
                                <td>[[${info.bookName}]]</td>
                                <td>[[${info.bookStock}]]</td>
                                <td>***</td>
                                <td>***</td>
                                <td><input type="number" class="amount"></td>
                                <td><input type="number" class="amount"></td>
                                <td><select>
                                    <option>판매중</option>
                                    <option>품절</option>
                                    <option>재입고</option>
                                </select></td>
                                <td>
                                    <a th:href="@{/admin/inventoryUpdate?(bookId=${info.bookId})}">
                                        <button class="btnIv">상품수정</button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="apply"><button class="btn">설정 적용</button></div>
            </div>
        </main>
    </div>
    <script th:src="@{/js/admin/sidebar.js}"></script>
    <!--  로그인 체크 -->
    <div th:unless="${session.adminChk != null}">
        <script>
            location.href = "/login";
        </script>
    </div>
</body>

</html>