<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원관리 페이지</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/admin/main.css">
    <link rel="stylesheet" href="/css/admin/body.css">
    <link rel="stylesheet" href="/css/admin/fragmentCSS/sidebar.css">
    <link rel="stylesheet" href="/css/admin/fragmentCSS/header.css">
    <link rel="stylesheet" href="/css/admin/account.css">
    <link rel="stylesheet" href="/css/admin/media.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <style>
    </style>
</head>

<body>
    <div class="container">
        <header th:insert="~{fragment/admin/header::headers}"></header>
        <sidebar th:insert="~{fragment/admin/sidebar::sidebars}"></sidebar>

        <main>
            <div class="main-right">
                <div class="main-emp">
                    <h2>::Account LIST</h2>
                    <table id="Account">
                        <thead>
                            <tr>
                                <th>회원번호</th>
                                <th>이미지</th>
                                <th>분류</th> <!--회원,사원 구분-->
                                <th>아이디</th>
                                <th>등급</th>
                                <th>생성날</th>
                                <th>비고</th>
                            </tr>
                        </thead>
                        <tbody th:each="Acct : ${acct}">
                            <tr >
                                <td>[[${Acct.regId}]]</td>
                                <td>
                                    <div class="image-container" th:if="${Acct.saveName != '' && Acct.saveName != null}">
                                        <img th:src="@{/images/mypage/user_image/} + ${Acct.saveName}" alt="profile" style="height: 60px; width: 60px; border-radius: 50%;">
                                    </div>
                                    <div class="image-container" th:unless="${Acct.saveName != '' && Acct.saveName != null}">
                                        <img th:src="@{/images/user.png}" alt="profile" style="height: 60px; width: 60px; border-radius: 50%;">
                                    </div>
                                </td>
                                <td>[[${Acct.levelName}]]</td>
                                <td>[[${Acct.id}]]</td>
                                <td>[[${Acct.grade}]]</td>
                                <td>[[${#temporals.format(Acct.created, 'yyyy. MM. dd')}]]</td>
                                <td>
                                    <a th:href="@{/admin/AccountView?(regId=${Acct.regId})}"><button
                                            class="btn-clr1">상세보기</button></a>
                                    <a href="#"><button class="btn-clr2">주문내역</button></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>

                        <a th:if="${pagination.page > 1}" th:href="@{/admin/account?(page=${pagination.page - 1})}">
                            <button>이전</button>
                        </a>
                        <a th:unless="${pagination.page > 1}">
                            <button>이전</button>
                        </a>


                        <a th:href="@{/admin/account?(page=${i})}"
                            th:each="i: ${ #numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
                            <button>[[${i}]]</button>
                        </a>
                        <a th:href="@{/admin/account?(page=${pagination.page + 1})}"
                            th:if="${pagination.page < pagination.totalPage}">
                            <button>이후</button>
                        </a>
                        <a th:unless="${pagination.page < pagination.totalPage}">
                            <button>이후</button>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script th:src="@{/js/admin/sidebar.js}"></script>
    <!--  로그인 체크 -->
    <div th:unless="${session.adminChk != null}">
        <script>
            location.href = "/login";
        </script>
    </div>

</body>

</html>