<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>어드민 메인 페이지</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/admin/body.css">
  <link rel="stylesheet" th:href="@{/css/admin/fragmentCSS/header.css}">
  <link rel="stylesheet" th:href="@{/css/admin/fragmentCSS/sidebar.css}">
  <link rel="stylesheet" href="/css/admin/main.css">
  <link rel="stylesheet" href="/css/admin/media.css">

  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="/js/admin/admin_chart_js/pay_chart.js"></script>
  <script type="text/javascript" src="/js/admin/admin_chart_js/daily_chart.js"></script>


  <style>

  </style>
</head>

<body>
  <div class="container">
    <header th:insert="~{fragment/admin/header::headers}"></header>
    <sidebar th:insert="~{fragment/admin/sidebar::sidebars}"></sidebar>

    <main class="main-right">
      <div>
        <h2 class="top-h2">요약</h2>
        <p>판매량 접속량 차트, 최근 주문, 등급관련 차트?, 주문 상승 책,</p>
        <div class="chart-wrap">
          <div class="chart">
            <div id="curve_pay_chart"></div>
          </div>
          <div class="chart">
            <div id="curve_daily_chart"></div>
          </div>
        </div>
        <div>
          신규 도서
        </div>
      </div>
    </main>
  </div>

  <script th:src="@{/js/admin/sidebar.js}"></script>
  <!--  로그인 체크 -->
  <div th:unless="${session.adminChk != null}">
    <script>
      location.href = "/login";
    </script>
  </div>
</body>

</html>