<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지금핫한 : 신작추천!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/fragment/header.css"> -->
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/main/style.css}">
    <link rel="stylesheet" th:href="@{/css/main/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/main/owl.theme.default.css}">
    <!-- <link rel="stylesheet" href="/main/resources/static/css/main/style.css">
    <link rel="stylesheet" href="/main/resources/static/css/main/owl.carousel.css">
    <link rel="stylesheet" href="/main/resources/static/css/main/owl.theme.default.css"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <script th:src="@{https://code.jquery.com/jquery-latest.min.js}"></script>

    <!-- <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/main/js.js"></script>
    <script src="/js/main/owl.carousel.js"></script> -->
    <script th:src="@{/js/main/owl.carousel.js}"></script>

</head>
<body>
    <div class="wrap">
        <header id="header" th:insert="~{fragment/header::headers}"></header>
        <section id ="category">
            <div class="container">
                <div class="menu">
                    <div class="menu-wrap">
                        <ul>
                            <li><a href="#">추천</a></li>
                            <li><a href="#">웹툰</a></li>
                            <li><a href="#">웹소설</a></li>
                            <li><a href="#">책</a></li>
                            <li><a href="#">바로가기</a></li>
                        </ul>
                    </div>
                </div>
                <div class="button">
                    <div class="button-wrap">
                        <ul>
                            <li class="first"><a href="#">지금핫한</a></li>
                            <li><a href="#">남성인기</a></li>
                            <li><a href="#">실시간랭킹</a></li>
                            <li><a href="#">완결추천</a></li>
                            <li><a href="#">이벤트</a></li>
                            <li><a href="#">오늘신작</a></li>
                            <li><a href="#">완전판</a></li>
                            <li><a href="#">여성인기</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>






        <main id ="main">
            <div class="container">
                <div class="main1">
                    <div class="main1-wrap">
                        <img src="/images/main/book/스콘.jpg">
                        <h1><a th:href="@{/view?(bookCode = ${main.bookCode})}"><strong>≪ [[${main.bookName}]] ≫</strong></a></h1>
                    </div>
                </div> 
                <div class="main2">
                    <div class="main2-wrap">
                        <div class="owl-carousel owl-theme" >
                            <div class="main2-img item" th:each ="slide : ${slide}">
                                <a href="#">
                                    <img th:src="@{/images/main/slide} + ${}" th:alt="@{[[${slide.bookName}]]}">
                                    <img th:src="@{/images/mypage/user_image/} + ${user.saveName}" alt="profile">
                                </a>
                                <div class="main2-text">
                                    <a href="#"><h1>[[${slide.bookName}]]</h1></a>
                                    <a href="#"><p>[[${slide.bookSubname}]]</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- main3은 비디오자리임 -->
                <div class="main3"></div>
                </br>
                <div class="main4">
                    <div class="main4-wrap">
                        <div class="recommand1">
                            <div class="recommand-gawoodi">
                                <div class="recommand-gawoodi1">
                                    <div class="recommand-subject">
                                        <h4>| GAWOOD <strong>Choice</strong>!</h4>
                                        <a href="#"><img src="/images/main/main-recommand/recommand-gawoodi1.jpg"></a>
                                    </div>
                                    <div class="recommand-book">
                                        <div class="recommand-book1">
                                            <a href="#"><h2>밀레니얼 세대가 <br/>돈 버는법!</h2><br/></a>
                                            <a href="#"><p>프리랜서 5년 차가 알려주는  <br/>‘내 일 찾기’ 프로젝트</p></a>
                                        </div>
                                        
                                        <div class="recommand-book2">
                                            <a href="#"><h2>요즘 부부를 위한 <br/>신디의 관계수업</h2><br/></a>
                                            <a href="#"><p>서로 다른 너와 나를 위한 <br/>9가지 결혼 심리학</p></a>
                                        </div>
                                    </div>
                                </div>    
                                <div class="recommand-gawoodi2">
                                    <div class="recommand-subject">
                                        <a href="#"><h4>| MEDIA <strong>Choice</strong>!</h4></a>
                                        <a href="#"><img src="/images/main/main-recommand/recommand-gawoodi2.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="trend">
                                <div class="recommand-subject">
                                    <h4>| Trend<strong> Issue</strong>? |</h4>
                                    <a href="#"><img src="/images/main/main-recommand/Trend.jpg"></a>
                                    <br/>
                                    <div class="recommand-text">
                                        <a href="#"><p>지금 플랫폼기업에 올라탈때! </p></a></a>
                                        <a href="#"><h4>≪ 카카오 네이버, 지금 사도 될까요? ≫</h4></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="recommand2">
                            <div class="choice">
                                <div class="choice-wrap">
                                    <h1>출판사 <strong>추천!</strong></h1>
                                    <div class="border">
                                        <a href="#"><img src="/images/main/main-recommand/choice.jpg" alt=""></a>
                                        <div class="r2-text">
                                            <a href="#"><h4>나에게 고맙다</h4></a>
                                            <a href="#"><p class="p"><strong>전승환의 인생내공</strong></p></a>
                                            <a href="#"><p>내 인생을 바꿔줄 <br/>단 한권의 책!</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-wrap">
                                    <h1>미디어 <strong>추천!</strong></h1>
                                    <div class="border">
                                        <a href="#"><img src="/images/main/main-recommand/media.jpg" alt=""></a>
                                        <div class="r2-text">
                                            <a href="#"><h4>대통령의 <br/>염장이</h4></a>
                                            <a href="#"><p class="p"><strong>노무현·김영삼·이건희
                                                장례지도사가 들려주는 죽음과 삶의 이야기</strong></p></a>
                                            <a href=""><p>장례명장이 어루만진 삶의 끝과 시작</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="thisbook">
                                <div class="thisbook-wrap">
                                    <h1><strong>이 책</strong>어때?</h1>
                                    <div class="border">
                                        <a href="#"><img src="/images/main/main-recommand/thisbook.jpg" alt=""></a>
                                        <div class="r2-text">
                                            <a href="#"><h4>꽃잎 한 장처럼</h4></a>
                                            <a href="#"><p class="p"><strong>오늘을 살아가는 <br/>당신을 위한 이해인 수녀의 시 편지</strong></p></a>
                                            <a href="#"><p>살아갈수록 나에겐 <br/>사람들이
                                                어여쁘게 <br/>사랑으로 걸어오네</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>






        <br/>
            <div class="ad">
                <div class="ad-wrap">
                    <div class="ad-text one">
                        <a href="#">
                            <p class="ad1"><i class="fa-solid fa-gift"></i>  매일매일 선착순 도서 상품권 받기 <strong>이달의 혜택모음</strong></p></a>
                    </div>
                    <div class="ad-text two">
                        <a href="#"><p class="ad2">친구에게 상품권 선물 FLEX로 포인트 적립까지 <strong>상품권선물하기</strong></p></a>
                    </div>
                </div>
            </div>
        <br/>
        









        <div class="main">
            <div class="container">
                <div class="main6">
                    <div class="main6-h1">
                        <h1>BESTSELLER</h1>
                    </div>
                    <div class="main6-secondwrap"> 
                        <div class="main6-menu"><!-- main6-menu -->
                            <ul class="tabs"> <!-- h3 -->
                                <li class="active" data-tab="tab-1">청소년/문학</li> <!-- a -->
                                <li data-tab="tab-2">유아/어린이</li>
                                <li data-tab="tab-3">생활/육아</li>
                                <li data-tab="tab-4">정치/경제</li>
                                <li data-tab="tab-5">인문/사회</li>
                                <li data-tab="tab-6">과학</li>
                                <li data-tab="tab-7">자기계발</li>
                            </ul>
                            <div class="main6-list">
                                <!-- 문학/소설 -->
                                <div id="tab-1" class="tab-content active">
                                    <div class="main6-list-wrap">
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/소설/2.jpg" alt=""/>
                                                <i class="fa-regular fa-heart"></i></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>백의 그림자</h6></a>
                                                <a href="#"><p>11700원 + 1170P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/소설/5.jpg" alt=""/>
                                                <i class="fa-regular fa-heart"></i></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>천개의파랑</h6></a>
                                                <a href="#"><p>12420원 + 1240P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/소설/6.jpg" alt=""/>
                                                <i class="fa-regular fa-heart"></i></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>훌훌</h6></a>
                                                <a href="#"><p>14850원 + 1480P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/소설/1.jpg" alt=""/>
                                                <i class="fa-regular fa-heart"></i></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>너와 막걸리를 마신다면</h6></a>
                                                <a href="#"><p>26820원 + 1480P</p></a>
                                            </div>            
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/소설/3.jpg" alt=""/>
                                                <i class="fa-regular fa-heart"></i></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>센강의 이름 모를 여인</h6></a>
                                                <a href="#"><p>14800원 + 1480P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/소설/4.jpg" alt=""/>
                                                <i class="fa-regular fa-heart"></i></a>
                                            <div class="main6-list-text one">
                                                <a href="#"><h6>우리가 빛의 속도로 <br />갈 수 없다면</h6></a>
                                                <a href="#"><p>9900원 + 990P</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 유아/청소년 -->
                                <div id="tab-2" class="tab-content">
                                    <div class="main6-list-wrap">
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/유아청소년/2.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>까칠한 재석이가 소리쳤다.</h6></a>
                                            <a href="#"><p>10800 + 1080P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/유아청소년/1.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>구미호식당</h6></a>
                                                <a href="#"><p>11250원 + 1200P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/유아청소년/3.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>설민석의 한국사 대모험</h6></a>
                                                <a href="#"><p>11700원 + 1170P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="images/main/bestceller/유아청소년/6.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>흔한남매</h6></a>
                                                <a href="#"><p>12600원 + 1260P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/유아청소년/4.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>에그박사</h6></a>
                                                <a href="#"><p>13050원 + 1300P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/유아청소년/5.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>찰랑찰랑 비밀하나</h6></a>
                                                <a href="#"><p>10800원 + 1080P</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 건강 -->
                                <div id="tab-3" class="tab-content">
                                    <div class="main6-list-wrap">
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/건강/1.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>근육에 힘좀 빼고 삽시다</h6></a>
                                            <a href="#"><p>11700원 + 1170P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/건강/2.jpg" alt=""></a>
                                            <div class="main6-list-text one">
                                                <a href="#"><h6>당뇨병을 이긴  <br />사람들의 비밀</h6></a>
                                                <a href="#"><p>13500원 + 1350P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/건강/3.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>무기력이 무기력해지도록</h6></a>
                                                <a href="#"><p>16020원 + 1600P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/건강/4.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>식사가 잘못 됐습니다.</h6></a>
                                                <a href="#"><p>13050원 + 1300P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/건강/5.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>암은 병이 아니다</h6></a>
                                                <a href="#"><p>16200원 + 1620P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/건강/6.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>통증 때려잡는 스트레칭</h6></a>
                                                <a href="#"><p>17010원 + 1700P</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 경제 -->
                                <div id="tab-4" class="tab-content">
                                    <div class="main6-list-wrap">
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/경제/1.jpg" alt=""></a>
                                            <div class="main6-list-text one">
                                                <a href="#"><h6>나는 월급쟁이에서  <br />이렇게 독립했다.</h6></a>
                                            <a href="#"><p>14400원 + 1440P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/경제/2.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>밀레니얼 세대가 돈 버는 법</h6></a>
                                                <a href="#"><p>13500원 + 1350P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/경제/3.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>수소경제</h6></a>
                                                <a href="#"><p>18000원 + 1800P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/경제/4.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>우리아이 주식부자 만들기</h6></a>
                                                <a href="#"><p>15300원 + 1530P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/경제/5.jpg" alt=""></a>
                                            <div class="main6-list-text one">
                                                <a href="#"><h6>카카오 네이버,  <br />지금사도 될까요?</h6></a>
                                                <a href="#"><p>16200원 + 1620P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/경제/6.jpg" alt=""></a>
                                            <div class="main6-list-text one">
                                                <a href="#"><h6>해외 구매대행으로  <br />평생 돈벌기</h6></a>
                                                <a href="#"><p>17550원 + 1750P</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 인문/사회 -->
                                <div id="tab-5" class="tab-content">
                                    <div class="main6-list-wrap">
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/인문사회/1.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>기묘한 미술관</h6></a>
                                            <a href="#"><p>14800원 + 1480P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/인문사회/2.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>나를 살리는 철학</h6></a>
                                                <a href="#"><p>16020원 + 1600P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/인문사회/3.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>도시는 왜 사라졌는가</h6></a>
                                                <a href="#"><p>14400원 + 1440P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/인문사회/4.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>세계사를 뒤바꾼 가짜뉴스</h6></a>
                                                <a href="#"><p>14400원 + 1440P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/인문사회/5.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>음식에 대한 거의 모든 생각</h6></a>
                                                <a href="#"><p>16200원 + 1620P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/인문사회/6.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>코로나 이후의 세상</h6></a>
                                                <a href="#"><p>13320원 + 1330P</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 과학 -->
                                <div id="tab-6" class="tab-content">
                                    <div class="main6-list-wrap">
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/과학/1.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>감사의 재발견</h6></a>
                                            <a href="#"><p>13950원 + 1390P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/과학/2.jpg" alt=""></a>
                                            <div class="main6-list-text one">
                                                <a href="#"><h6>나를 알고 싶을 때  <br />뇌 과학을 공부합니다.</h6></a>
                                                <a href="#"><p>17820원 + 1780P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/과학/3.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>사이언스 픽션</h6></a>
                                                <a href="#"><p>20000원 + 2000P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/과학/4.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>인공지능 마음을 묻다</h6></a>
                                                <a href="#"><p>11200원 + 1120P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/과학/5.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>인지심리학</h6></a>
                                                <a href="#"><p>29700원 + 2970P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/과학/6.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>중독에 빠진 뇌과학자</h6></a>
                                                <a href="#"><p>17100원 + 17100P</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 육아 -->
                                <div id="tab-7" class="tab-content">
                                    <div class="main6-list-wrap">
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/육아/1.jpg" alt=""></a>
                                            <div class="main6-list-text one">
                                                <a href="#"><h6>4~7세보다  <br />중요한 시기는 없습니다.</h6></a>
                                            <a href="#"><p>14800원 + 1480P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/육아/2.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>생일을 모르는 아이</h6></a>
                                                <a href="#"><p>9900원 + 990P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/육아/3.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>오은영의 화해</h6></a>
                                                <a href="#"><p>11700원 + 1170P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/육아/4.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>세상쉬운 우리 아이 성교육</h6></a>
                                                <a href="#"><p>12420원 + 1240P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/육아/5.jpg" alt=""></a>
                                            <div class="main6-list-text one">
                                                <a href="#"><h6>인성이 내 아이의  <br />인생을 바꾼다.</h6></a>
                                                <a href="#"><p>14850원 + 1480P</p></a>
                                            </div>
                                        </div>
                                        <div class="main6-list-subject">
                                            <a href="#"><img src="/images/main/bestceller/육아/6.jpg" alt=""></a>
                                            <div class="main6-list-text">
                                                <a href="#"><h6>취향육아</h6></a>
                                                <a href="#"><p>26820원 + 1480P</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

        <footer id ="footer">
            <div class="container">
                <div class="info1">
                    <div class="info1-wrap">
                        <ul>
                            <li><a href="#">회사소개</a></li>
                            <li><a href="#">이용약관</a></li>
                            <li><a href="#">개인정보처리방침</a></li>
                            <li><a href="#">청소년보호정책</a></li>
                            <li><a href="#">공지사항</a></li>
                        </ul>
                    </div>
                </div>
                <div class="info2">
                    <div class="info2-wrap">
                        <ul>
                            <li>대표자 이진수, 김성수</li>
                            <li>호스팅서비스사업자 (주)카카오엔터테인먼트</li>
                            <li><a href="#">사업자정보확인</a></li>
                        </ul>
                        <ul>
                            <li>사업자등록번호 220-88-02594</li>
                            <li>통신판매업신고 2018-성남분당B-0004</li>
                        </ul>
                        <ul>
                            <li>대표전화 051-222-0000</li>
                            <li>이메일 koreait@koreait.co.kr</li>
                            <li>부산광역시 부산진구 에이원프라자 1동 403호</li>
                        </ul>
                    </div>
                </div>
                <div class="info3">
                    <p>Korea it Academy &copy;</p>
                </div>
            </div>    
        </footer>
    </div>
    <script th:src="@{/js/main/js.js}"></script>
    
    <script>

      
    </script>
    </body>
</html>