<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie</title>
</head>
<body>
    <form action="cart" method="post">
        <input type="submit" name="product" value="banana">
        <input type="submit" name="product" value="apple">
        <input type="submit" name="product" value="peach">
        <input type="submit" name="product" value="melon">
        <br>
        <input type="submit" name="commit" value="cart">
    </form>
</body>
</html>