<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book-store < 장바구니</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <!-- 폰트, 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&family=Roboto&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/side_menu.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/cart.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/responsive.css}">
    <!-- <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/fragment/header.css">
    <link rel="stylesheet" href="/static/css/fragment/footer.css">
    <link rel="stylesheet" href="/static/css/fragment/side_menu.css">
    <link rel="stylesheet" href="/static/css/mypage/cart.css"> -->
</head>

<body>
    <div id="container">
        <header id="header" th:insert="~{fragment/header::headers}"></header>

        <main class="main-container">
            <div class="serve-container">
                <!--main-container basis 1 -->
                <div th:insert="~{fragment/side_menu::sideMenu}" class="menu-container"></div>
                
                <!--main-container basis 2 -->
                <div class="book-purchase-list">
                    <h1>
                        <input type="checkbox" id="selectAll" onclick="selectAll()"> 장바구니
                    </h1>
                    <hr>

                    <div class="third-container">
                        <div class="purchase-container">
                            <div class="book-container" th:each="book: ${book}">
                                <input type="text" name="checkValue">
                                <input type="checkbox" name="check" class="check" onclick="checkboxClick()">
                                <div class="image-container">
                                    <img th:src="@{/images/no_image_pink.png}">
                                </div>
                                <div class="book-data">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>[[${book.bookCode}]]</td>
                                            </tr>
                                            <tr>
                                                <td>도서제목</td>
                                                <td>[[${book.bookName}]]</td>
                                            </tr>
                                            <tr>
                                                <td>작가</td>
                                                <td>[[${book.author}]]</td>
                                            </tr>
                                            <tr>
                                                <td>출판사</td>
                                                <td>[[${book.publisher}]]</td>
                                            </tr>
                                                <td>출판연도</td>
                                                <td>[[${book.publicationDate}]]</td>
                                            <tr>
                                                <td>분류</td>
                                                <td>[[${book.category}]]</td>
                                            </tr>
                                            <tr>
                                                <td>가격</td>
                                                <td>[[${book.price}]]</td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>
                                <div class="button-container">
                                    <button>주문하기</button>
                                    <button>삭제하기</button>
                                </div>
                            </div>
                        </div> 

                    </div>  
                </div>
            </div>
        </main>
        <footer id ="footer" th:insert="~{fragment/footer::footers}"></footer>
    </div>
    <script th:src="@{/js/fragment/header.js}"></script>
    <script th:src="@{/js/fragment/side_menu.js}"></script>
    <script th:src="@{/js/mypage/checkBox.js}"></script>
</body>
</html>