<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <input type="checkbox" name="test_check" value="1" />
        <input type="checkbox" name="test_check" value="2" />
        <input type="checkbox" name="test_check" value="3" />
        <input type="checkbox" name="test_check" value="4" />
        <button onclick="checkboxArr()">제출</button>
    </div>

    <script>
    //  function checkboxArray() {
    //     var checkArray = [];     // 배열 초기화
    //     $("input[name='test_check']:checked").each(function(i) {
    //         checkArray.push($(this).val());     // 체크된 것만 값을 뽑아서 배열에 push
    //     });

    //     $.ajax({
    //         url: 'test',
    //         type: 'post',
    //         dataType: 'text',
    //         data: {
    //             valueArray: checkArray
    //         }
    //     });
    // }

        function checkboxArr() {
            var checkArr = [];     // 배열 초기화
            $("input[name='test_check']:checked").each(function(i) {
                // 체크된 것만 값을 뽑아서 배열에 push
                checkArr.push($(this).val());     
            });

            $.ajax({
                url: 'test_check'
                , type: 'post'
                , dataType: 'text'
                , data: {
                    valueArrTest: checkArr
                }
            });
        }
    </script>
</body>
</html>
