<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>
    <form action="/process" method="post" name="testForm">
        <input type="text" name="name" value="홍길동">
        <input type="text" name="name" value="김철수">
        <input type="text" name="name" value="이영희">
        <input type="submit" value="보내기">
    </form>

    <script></script>
</body>
</html>