<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book-store < 회원수정</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <!-- 폰트, 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&family=Roboto&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/side_menu.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/user_edit.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/responsive.css}">
    <!-- <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/fragment/header.css">
    <link rel="stylesheet" href="/static/css/fragment/side_menu.css">
    <link rel="stylesheet" href="/static/css/fragment/footer.css">
    <link rel="stylesheet" href="/static/css/mypage/user_edit.css"> -->
</head>
<body>
    <th:block th:if="${session.id == null}">
        <script>
            alert("로그인 하신 후, 사용할 수 있습니다.");
            location.href = "/login";
        </script>
    </th:block>
    <div class="wrap" th:each="user: ${user}">
        <header id="header" th:insert="~{fragment/header::headers}"></header>
        <div class="size-container">
            <main class="main-container">

                <!-- side-menu -->
                <div th:insert="~{fragment/side_menu::sideMenu}" class="menu-container"></div>
                
                <div class="register-container">
                    <div class="title-container">
                        <h1>회원 수정</h1>
                    </div>
                    <div class="serve-container">
                        <!-- serve-container 1 -->
                        <div class="image-container">
                            <img th:src="@{/images/user.png}" alt="profile">
                            <button class="profile-button">이미지수정</button>
                        </div>
                        <!-- serve-container 2 -->
                        <div class="register-group">
                            <div class="input-group-one">
                                <input type="hidden" class="regId" th:value="${user.regId}">
                                <input type="hidden" class="level" th:value="${user.level}">
                                <input type="hidden" class="grade" th:value="${user.grade}">

                                <div class="id-container">
                                    <p>아이디 <span style="color: #787878; font-size: 12px; padding: 0 0 0 14px;">(4자~12자리의 영문자, 숫자 / @,#$등 특수문자는 제외)</span></p>
                                    <div class="id-input-group">
                                        <input type="text" name="id" class="id" th:value="${user.id}">
                                        <input type="button" name="id1" class="id-check" value="아이디 중복확인">
                                    </div>
                                </div>
                                <div class="password-container">
                                    <p>비밀번호<span style="color: #787878; font-size: 12px; padding: 0 0 0 14px; line-height: 11px;">영문, 숫자, 특수문자 중 2가지 조합하여 8자~20자리</span></p>
                                    <input type="password" name="passwd" class="passwd" th:value="${user.passwd}">
                                </div>
                                <div class="password-check-container">
                                    <p>비밀번호 확인</p>
                                    <input type="password" name="passwd2" class="passwd2">
                                </div>
                                <div class="name-container">
                                    <p>이름</p>
                                    <input type="text" name="name" class="name" th:value="${user.name}">
                                </div>

                                <div class="birth-container">
                                    <p>생년월일</p>
                                    <div>
                                        <input type="date" min="MM" max="dd" name="birth" class="birth" th:value="${user.birth}">
                                    </div>
                                </div>
                                <div class="gender-container">
                                    <label>성별</label>
                                    <div class="radio-container">
                                        <input type="radio" name="gender" class="userGender" value="M" th:value="${user.gender}"> 남자
                                        <input type="radio" name="gender" class="userGender" value="W" th:value="${user.gender}"> 여자
                                    </div>
                                </div>
                            </div>
                            <div class="input-group-two">
                                <div class="email-container">
                                    <p>이메일 주소</p>
                                    <input type="email" name="email" class="email" th:value="${user.email}">
                                    <select class="select-email">
                                        <option value="1">직접 입력</option>
                                        <option value="@naver.com">@naver.com</option>
                                        <option value="@gmail.com">@gmail.com</option>
                                        <option value="@nate.com">@nate.com</option>
                                        <option value="@hanmail.net">@hanmail.net</option>
                                        <option value="@daum.net">@daum.net</option>
                                    </select>
                                </div>
                                <div class="address-container">
                                    <p>
                                        <input type="text" name="postcode" id="postcode" class="postcode" placeholder="우편번호" th:value="${user.postcode}">
                                        <input type="button" onclick="execDaumPostcode()" class="postcode-search" value="우편번호 찾기">
                                        <p></p>
                                        <input type="text" name="address" id="address" class="address" placeholder="도로명주소" th:value="${user.address}">
                                        <p></p>
                                        <input type="text" name="address1" id="address1" class="address1" placeholder="상세주소" th:value="${user.address1}">
                                        <p></p>
                                    </p>
                                </div>
                                <div class="telephone-container">
                                    <p>휴대전화<span style="color: #787878; font-size: 12px; padding: 0 0 0 14px; text-transform: uppercase">주문배송문자, 본인확인용으로 사용</span></p>
                                    <div>
                                        <input type="tel" name="tel" class="telephone" placeholder="전화번호 입력" th:value="${user.tel}">

                                    </div>
                                </div>
                                <div class="button-container">
                                    <button class="edit-button">수정하기</button>
                                    <button class="delete-button">취소하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    
        <footer id ="footer" th:insert="~{fragment/footer::footers}"></footer>
    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/account/postcode.v2.js}"></script>
    <script th:src="@{/js/mypage/user_edit.js}"></script>
</body>
</html>