@charset 'utf-8';

.main-container {
    display: flex;
    justify-content: center;
}

.serve-container {
    display: flex;

    width: 1400px;
}


/* main-container basis 1 */
.menu-container {
    flex-basis: 15%;

    margin: 10px;
    padding: 10px;
    height: calc(100vh - 80px);
    width: 100%;

    background-color: #e0212119;

    border: 1px solid #f9f9f9;
    border-style: solid;
}

/* main-container basis 2 */
.book-purchase-list {
    flex-basis: 85%;

    margin: 10px;
    padding: 10px;
}

.book-purchase-list h1 { 
    padding: 5px 0px 5px 18px;

    color: #555;
    font-size: 26px;
}

.third-container {
    width: 100%;
}

.purchase-container {
    margin-top: 10px;
    height: 300px;

}

.book-container {
    display: flex;
    align-items: center;

    margin-left: 10px;
    width: inherit;
    height: 100%;

}

.image-container {
    margin-left: 10px;
    height: 260px;
}

.image-container img {
    width: 200px;
    height: 260px;
}

.book-data {
    width: 700px;
    height: 260px;

    font-size: 14px;

    line-height: 2;

}

.book-data table {
    margin-left: 20px;
    width: 90%;
}


.book-data tbody td {
    padding: 0px 0px 10px 10px;
}

.book-data tbody td:nth-child(1) {
    width: 10%;
}


.book-data tbody tr:nth-child(2) {
    font-size: 20px;
    font-weight: bold;

    line-height: 0.8;
}

.book-data tbody tr:nth-child(7) {
    border-top: 1px solid #ccc;

    line-height: 3;
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 100%;

}


.button-container button {
    margin-bottom: 20px;
    width: 100px;
    height: 50px;

    border-radius: 3px;

    font-size: 15px;
    font-weight: bold;

    color: #fff;
    background-color: #FFADAD;

    cursor: pointer;
}








