@charset 'utf-8';

.main-container {
    display: flex;
    justify-content: center;
}

.serve-container {
    display: flex;

    width: 1400px;
}

/* main-container basis 1 */
.menu-container {
    flex-basis: 15%;

    margin: 10px;
    padding: 10px;
    height: calc(auto - 80px);
    width: 100%;

    background-color: #e0212119;

    border: 1px solid #f9f9f9;
    border-style: solid;
}

/* main-container basis 2 */
.book-purchase-list {
    flex-basis: 85%;

    margin: 10px;
    padding: 10px;
}

.book-purchase-list h1 { 
    margin: 5px 0px;
    padding-left: 18px;

    color: #555;
}

.third-container {
    width: 100%;
}

.purchase-container {
    margin-top: 10px;
    height: 300px;

    background-color: rgba(255, 255, 255, 0.5);
}

.book-cointainer {
    display: flex;
    align-items: center;

    margin-left: 20px;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 200px;
    height: 260px;
}

.book-data {
    width: 700px;

    font-size: 14px;

    line-height: 2;
}

.book-data table {
    margin-left: 20px;
    width: 90%;

}

/* .book-data tbody tr, .book-data tbody tr td {
    border: 1px solid #ccc;
} */

.book-data tbody td {
    padding: 0px 0px 10px 10px;
}

.book-data tbody td:nth-child(1) {
    width: 10%;
}


.book-data tbody tr:nth-child(2) {
    font-size: 20px;
    font-weight: bold;

    line-height: 0.8;
}

.book-data tbody tr:nth-child(7) {
    border-top: 1px solid #ccc;

    line-height: 3;
    font-weight: bold;
}






