@charset 'utf-8';

.main-container {
    display: flex;
    justify-content: center;
}

.serve-container {
    display: flex;

    width: 1400px;
}

/* main-container basis 1 */
.menu-container {
    flex-basis: 15%;

    margin: 10px;
    padding: 10px;
    height: calc(100vh - 80px);
    width: 100%;

    background-color: #e0212119;

    border: 1px solid #f9f9f9;
    border-style: solid;
}

/* main-container basis 2 */
.book-purchase-list {
    flex-basis: 85%;

    margin: 10px;
}

.book-purchase-list h1 { 
    padding: 5px 0px 5px 18px;

    color: #555;
    font-size: 26px;
}

.third-container {
    width: 100%;
}

.purchase-container {
    display: flex;
    
    width: 100%;
    height: calc(95vh - 80px);
}

/* purchase-container basis 1 */
.book-cointainer {
    display: flex;
    flex-basis: 75%;
}

.image-input-container {
    display: flex;
    align-items: center;

    height: 230px;

    background-color: antiquewhite;
}

.image-container {
    margin-left: 10px;
    width: 190px;
    height: 230px;

    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.image-container img:hover {
    /* transform: rotate( 20deg ); */
    transform: scale(0.8);
    transition: 0.3s;
}

.book-data {
    width: 400px;
    height: 230px;

    font-size: 14px;
}

.book-data table {
    margin-left: 20px;
    width: 90%;
}


.book-data tbody td {
    padding: 10px;
}

.book-data tbody td:nth-child(1) {
    width: 10%;
    padding: 1px;
}


.book-data tbody tr:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}

.book-data tbody tr:nth-child(7) {
    border-top: 1px solid #ccc;

    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    height: 230px;

}

.button-container img {
    margin-bottom: 10px;
    width: 80px;
    height: 30px;
}


.button-container button {
    margin-bottom: 20px;
    width: 100px;
    height: 50px;

    border-radius: 3px;

    font-size: 15px;
    font-weight: bold;

    color: #fff;
    background-color: #FFADAD;

    cursor: pointer;
}

/* purchase-container basis 2 */
.total-container {
    flex-basis: 30%;

    margin-right: 30px;
    
}

.total-border {
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
}

.total-purchase {
    line-height: 1.4;
}

.total-count {
    display: flex;
    justify-content: space-between;
}

.total-count p {
    margin: 5px 0px 5px;
}

.total-count button {
    background-color: transparent;
}

.total-count input {
    width: 30px;

    text-align: center;
}

.split-line {
    border: 1px dashed #dbdbdb;
}





