@charset 'utf-8';

header {
    padding: 10px;

    background-color: #000;
}

table {
    border-collapse: collapse;

    border: 1px solid #000;
}

table tr, table th, table td {
    border: 1px solid #000;

}