<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book-store < 전체도서</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <!-- 폰트, 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/side_menu.css}">
    <link rel="stylesheet" th:href="@{/css/book/book.css}">
    <link rel="stylesheet" th:href="@{/css/purchase/responsive.css}">
    <!-- <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/fragment/header.css">
    <link rel="stylesheet" href="/static/css/fragment/side_menu.css">
    <link rel="stylesheet" href="/static/css/fragment/footer.css">
    <link rel="stylesheet" href="/static/css/book/book.css"> -->
</head>

<body>
    <div id="container">
        <header id="header" th:insert="~{fragment/header::headers}"></header>

        <main class="main-container">
            <div class="serve-container">
                <!--main-container basis 1 -->
                <div th:insert="~{fragment/side_menu::sideMenu}" class="menu-container"></div>
                
                <!--main-container basis 2 -->
                <div class="book-purchase-list">
                    <div class="title-container">
                        <h1>
                            <input type="checkbox" id="selectAll" onclick="selectAll()"> 도서 목록
                        </h1>
                        <div class="button-container">
                            <button type="button" onclick="formCheck()">장바구니</button>
                        </div>
                    </div>
                    <hr>

                    <div class="third-container">
                        <div class="book-cointainer" th:each="book: ${book}">
                            <input type="checkbox" name="check" class="check" onclick="checkboxClick()" th:value="${book.bookId}">
                            <div class="image-container">
                                <img th:src="@{/images/no_image_pink.png}" alt="백광">
                                <!-- <img th:src="@{http://localhost:8888/image} + ${book.saveName}" alt="백광"> -->
                                <!-- <img src="/static/images/no_image_pink.png"> -->
                            </div>
                            <div class="book-data">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="bookCode">[[${book.bookCode}]]</td>
                                        </tr>
                                        <tr>
                                            <td>도서제목</td>
                                            <td class="bookName">[[${book.bookName}]]</td>
                                        </tr>
                                        <tr>
                                            <td>작가</td>
                                            <td class="author">[[${book.author}]]</td>
                                        </tr>
                                        <tr>
                                            <td>출판사</td>
                                            <td class="publisher">[[${book.publisher}]]</td>
                                        </tr>
                                            <td>출판연도</td>
                                            <td class="publicationDate">[[${book.publicationDate}]]</td>
                                        <tr>
                                            <td>분류</td>
                                            <td class="category">[[${book.category}]]</td>
                                        </tr>
                                        <tr>
                                            <td>가격</td>
                                            <td class="price">
                                                [[${book.price}]]
                                                <span class="view-container">
                                                    <i class="fa-solid fa-eye view"></i>
                                                    <span>[[${book.view}]]</span>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                           
                        </div>
                    </div> 


                    <div class="paging-container">
                        <a th:if="${pagination.page > 1}" th:href="@{/book?(page=${pagination.page -1})}">
                            <button><i class="fa-regular fa-circle-left"></i></button>
                        </a>
                        <a th:unless="${pagination.page > 1}">
                            <button><i class="fa-regular fa-circle-left"></i></button>
                        </a>
                        <a th:each="i: ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}" th:href="@{/book?(page=${i})}">
                            <button>[[${i}]]</button>
                        </a>
                        <a th:if="${pagination.page < pagination.totalPage}" th:href="@{/book?(page=${pagination.page +1})}">
                            <button><i class="fa-regular fa-circle-right"></i></button>
                        </a>
                        <a th:unless="${pagination.page < pagination.totalPage}">
                            <button><i class="fa-regular fa-circle-right"></i></button>
                        </a>
                    </div>

                    

                </div>

            </div>
        </main>
        <footer id ="footer" th:insert="~{fragment/footer::footers}"></footer>
    </div>
    <script th:src="@{/js/fragment/header.js}"></script>
    <script th:src="@{/js/fragment/side_menu.js}"></script>
    <!-- <script th:src="@{/js/purchase/checkBox.js}"></script> -->
    <script src="/js/book/book.js"></script>
</body>
</html>