<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서정보 페이지</title>
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/information.css">
</head>
<body>
    <div class="main">
        <div class="inform">
            <img src="/src/main/resources/static/images/no_image_pink.png" alt="사진1">
        </div>
            <p class="title">2023 수비 정보처리기사 실기 1권+2권 합본세트</p>
            <p class="price">33,900원</p>
        </div>
    
</body>
</html>