<!DOCTYPE html>
<html lang="ko">
<body>
    <div class="container" th:fragment="footers">
        <div class="info1">
            <div class="info1-wrap">
                <ul>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">청소년보호정책</a></li>
                    <li><a href="#">공지사항</a></li>
                </ul>
            </div>
        </div>
        <div class="info2">
            <div class="info2-wrap">
                <ul>
                    <li>대표자 이진수, 김성수</li>
                    <li>호스팅서비스사업자 (주)코리아엔터테인먼트</li>
                    <li><a href="#">사업자정보확인</a></li>
                </ul>
                <ul>
                    <li>사업자등록번호 220-88-02594</li>
                    <li>통신판매업신고 2018-성남분당B-0004</li>
                </ul>
                <ul>
                    <li>대표전화 051-222-0000</li>
                    <li>이메일 koreait@koreait.co.kr</li>
                    <li>부산광역시 부산진구 에이원프라자 1동 403호</li>
                </ul>
            </div>
        </div>
        <div class="info3">
            <p>Korea it Academy &copy;</p>
        </div>
    </div>    
</body>
</html>