<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="../../static/css/fragment/header.css">
<body>
    <div class="container" th:fragment="headers">
        <div class="logo">
            <div class="logo-wrap">
                <a href="/main"><img src="/images/main/logo/logo.png" alt="개우디서점에 오신것을 환영합니다."></a>
            </div>
        </div>
        <div class="search-wrap">
            <form action="">
                <input type="text" placeholder = "범인이 추리를 한다! 히가시노게이고 '조인계획'" class="search">
            </form>
            <div class="search-btnwrap">
                <a href="#" onclick="search()"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </div>
        <div class="mypage">
            <div class="mypage-wrap">
                <ul>
                    <li class="login-a"><a href="#" class="login">
                        <i class="fa-solid fa-right-to-bracket"></i> Login</a>
                    </li>
                    <li><a href="#">
                        <i class="fa-solid fa-user"></i></a>
                    </li>
                    <li><a href="#">
                        <i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                    <li class="four" onclick="openmenu()">
                        <a href="#">
                            <i class="fa-sharp fa-solid fa-bars"></i>
                        </a>
                        <ul class="submenu"> 
                            <a href=""><h1>전체카테고리</h1></a>
                            <li><a href="#">소설/시/희곡</a></li>
                            <li><a href="#">에세이</a></li>
                            <li><a href="#">인문/사회</a></li>
                            <li><a href="#">정치/경제</a></li>
                            <li><a href="#">자기계발</a></li>
                            <li><a href="#">역사/문화</a></li>
                            <li><a href="#">IT/과학</a></li>
                            <li><a href="#">가정/생활</a></li>
                            <li><a href="#">진로/교육</a></li>
                            <li><a href="#">유아/어린이</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                </ul>
            <div>
        </div>
</body>
</html>