<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="container" th:fragment="headers">
        <div class="logo">
            <div class="logo-wrap">
                <img src="" alt="">
            </div>
        </div>
        <div class="search-wrap">
            <form action="">
                <input type="text" class="search">
            </form>
            <div class="search-btnwrap">
                <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </div>
        <div class="mypage">
            <div class="mypage-wrap">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-sharp fa-solid fa-hand-pointer"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-sharp fa-solid fa-gift"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>