<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="../../static/css/fragment/header.css">
<body>
    <div class="container" th:fragment="headers">
        <div class="logo">
            <div class="logo-wrap">
                <a href="/main"><img src="/images/logo.png" alt="개우디서점에 오신것을 환영합니다."></a>
            </div>
        </div>
        <div class="search-wrap">
            <form action="">
                <input type="text" class="search">
            </form>
            <div class="search-btnwrap">
                <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </div>
        <div class="mypage">
            <div class="mypage-wrap">
                <ul>
                    <li><a href="/register">
                        <i class="fa-sharp fa-solid fa-hand-pointer"></i></a>
                    </li>

                    <li><a href="/mypage">
                        <i class="fa-solid fa-user"></i></a>
                    </li>
                    <li>
                        <a href="/cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-menu">
                            <i class="fa-sharp fa-solid fa-bars" onclick="openmenu()"></i>
                        </a>
                        <div class="submenu">
                            <div class="submenu-wrap">
                                <div class="submenu1">
                                    <ul>
                                        <h1>전체카테고리</h1>
                                        <a href="#"><li>소설/시/희곡</li></a>
                                        <a href="#"><li>에세이</li></a>
                                        <a href="#"><li>인문/사회</li></a>
                                        <a href="#"><li>정치/경제</li></a>
                                        <a href="#"><li>자기계발</li></a>
                                        <a href="#"><li>역사/문화</li></a>
                                        <a href="#"><li>IT/과학</li></a>
                                        <a href="#"><li>가정/생활</li></a>
                                        <a href="#"><li>진로/교육</li></a>
                                        <a href="#"><li>유아/어린이</li></a>
                                        <a href="#"><li>기타</li></a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>