<!DOCTYPE html>
<html lang="ko">

<body>
    <a th:if="${pagination.page > 1}" th:href="@{/book?(page=${pagination.page -1})}">
        <button><i class="fa-regular fa-circle-left"></i></button>
    </a>
    <a th:unless="${pagination.page > 1}">
        <button><i class="fa-regular fa-circle-left"></i></button>
    </a>
    <a th:each="i: ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}" th:href="@{/book?(page=${i})}">
        <button>[[${i}]]</button>
    </a>
    <a th:if="${pagination.page < pagination.totalPage}" th:href="@{/book?(page=${pagination.page +1})}">
        <button><i class="fa-regular fa-circle-right"></i></button>
    </a>
    <a th:unless="${pagination.page < pagination.totalPage}">
        <button><i class="fa-regular fa-circle-right"></i></button>
    </a>
</body>
</html>