<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book-store < 장바구니</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/side_menu.css}">
    <link rel="stylesheet" th:href="@{/css/purchase/cart.css}">
    <link rel="stylesheet" th:href="@{/css/purchase/responsive.css}">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/fragment/header.css">
    <link rel="stylesheet" href="/static/css/fragment/footer.css">
    <link rel="stylesheet" href="/static/css/fragment/side_menu.css">
    <link rel="stylesheet" href="/static/css/purchase/cart.css">
</head>

<body>
    <div id="container">
        <header id="header" th:insert="~{fragment/header::headers}"></header>

        <main class="main-container">
            <div class="serve-container">
                <!--main-container basis 1 -->
                <div th:insert="~{fragment/side_menu::sideMenu}" class="menu-container"></div>
                
                <!--main-container basis 2 -->
                <div class="book-purchase-list">
                    <h1><input type="checkbox"> 장바구니</h1>
                    <hr>

                    <div class="third-container">
                        <div class="purchase-container">
                            <div class="book-container">
                                <input type="checkbox" checked>
                                <div class="image-container">
                                    <img th:src="@{/images/purchase/backgang.jpg}" alt="백광">
                                    <!-- <img src="/static/images/purchase/backgang.jpg" alt="백광"> -->
                                </div>
                                <div class="book-data">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>AL0000002747</td>
                                            </tr>
                                            <tr>
                                                <td>도서제목</td>
                                                <td>백광</td>
                                            </tr>
                                            <tr>
                                                <td>작가</td>
                                                <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                            </tr>
                                            <tr>
                                                <td>출판사</td>
                                                <td>모모</td>
                                            </tr>
                                                <td>출판연도</td>
                                                <td>2022</td>
                                            <tr>
                                                <td>분류</td>
                                                <td>소설/시/희곡</td>
                                            </tr>
                                            <tr>
                                                <td>가격</td>
                                                <td>35,000원</td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>
                                <div class="button-container">
                                    <button>주문하기</button>
                                    <button>삭제하기</button>
                                </div>
                            </div>

                            <div class="book-container">
                                <input type="checkbox" checked>
                                <div class="image-container">
                                    <!-- <img th:src="@{/images/purchase/backgang.jpg}" alt="백광"> -->
                                    <img src="/static/images/purchase/backgang.jpg" alt="백광">
                                </div>
                                <div class="book-data">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>AL0000002747</td>
                                            </tr>
                                            <tr>
                                                <td>도서제목</td>
                                                <td>백광</td>
                                            </tr>
                                            <tr>
                                                <td>작가</td>
                                                <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                            </tr>
                                            <tr>
                                                <td>출판사</td>
                                                <td>모모</td>
                                            </tr>
                                                <td>출판연도</td>
                                                <td>2022</td>
                                            <tr>
                                                <td>분류</td>
                                                <td>소설/시/희곡</td>
                                            </tr>
                                            <tr>
                                                <td>가격</td>
                                                <td>35,000원</td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>
                                <div class="button-container">
                                    <button>주문하기</button>
                                    <button>삭제하기</button>
                                </div>
                            </div>

                            <div class="book-container">
                                <input type="checkbox" checked>
                                <div class="image-container">
                                    <!-- <img th:src="@{/images/purchase/backgang.jpg}" alt="백광"> -->
                                    <img src="/static/images/purchase/backgang.jpg" alt="백광">
                                </div>
                                <div class="book-data">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>AL0000002747</td>
                                            </tr>
                                            <tr>
                                                <td>도서제목</td>
                                                <td>백광</td>
                                            </tr>
                                            <tr>
                                                <td>작가</td>
                                                <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                            </tr>
                                            <tr>
                                                <td>출판사</td>
                                                <td>모모</td>
                                            </tr>
                                                <td>출판연도</td>
                                                <td>2022</td>
                                            <tr>
                                                <td>분류</td>
                                                <td>소설/시/희곡</td>
                                            </tr>
                                            <tr>
                                                <td>가격</td>
                                                <td>35,000원</td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>
                                <div class="button-container">
                                    <button>주문하기</button>
                                    <button>삭제하기</button>
                                </div>
                            </div>

                            <div class="book-container">
                                <input type="checkbox" checked>
                                <div class="image-container">
                                    <!-- <img th:src="@{/images/purchase/backgang.jpg}" alt="백광"> -->
                                    <img src="/static/images/purchase/backgang.jpg" alt="백광">
                                </div>
                                <div class="book-data">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>AL0000002747</td>
                                            </tr>
                                            <tr>
                                                <td>도서제목</td>
                                                <td>백광</td>
                                            </tr>
                                            <tr>
                                                <td>작가</td>
                                                <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                            </tr>
                                            <tr>
                                                <td>출판사</td>
                                                <td>모모</td>
                                            </tr>
                                                <td>출판연도</td>
                                                <td>2022</td>
                                            <tr>
                                                <td>분류</td>
                                                <td>소설/시/희곡</td>
                                            </tr>
                                            <tr>
                                                <td>가격</td>
                                                <td>35,000원</td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>
                                <div class="button-container">
                                    <button>주문하기</button>
                                    <button>삭제하기</button>
                                </div>
                            </div>

                            <div class="book-container">
                                <input type="checkbox" checked>
                                <div class="image-container">
                                    <!-- <img th:src="@{/images/purchase/backgang.jpg}" alt="백광"> -->
                                    <img src="/static/images/purchase/backgang.jpg" alt="백광">
                                </div>
                                <div class="book-data">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>AL0000002747</td>
                                            </tr>
                                            <tr>
                                                <td>도서제목</td>
                                                <td>백광</td>
                                            </tr>
                                            <tr>
                                                <td>작가</td>
                                                <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                            </tr>
                                            <tr>
                                                <td>출판사</td>
                                                <td>모모</td>
                                            </tr>
                                                <td>출판연도</td>
                                                <td>2022</td>
                                            <tr>
                                                <td>분류</td>
                                                <td>소설/시/희곡</td>
                                            </tr>
                                            <tr>
                                                <td>가격</td>
                                                <td>35,000원</td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>
                                <div class="button-container">
                                    <button>주문하기</button>
                                    <button>삭제하기</button>
                                </div>
                            </div>

                            <div class="book-container">
                                <input type="checkbox" checked>
                                <div class="image-container">
                                    <!-- <img th:src="@{/images/purchase/backgang.jpg}" alt="백광"> -->
                                    <img src="/static/images/purchase/backgang.jpg" alt="백광">
                                </div>
                                <div class="book-data">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>AL0000002747</td>
                                            </tr>
                                            <tr>
                                                <td>도서제목</td>
                                                <td>백광</td>
                                            </tr>
                                            <tr>
                                                <td>작가</td>
                                                <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                            </tr>
                                            <tr>
                                                <td>출판사</td>
                                                <td>모모</td>
                                            </tr>
                                                <td>출판연도</td>
                                                <td>2022</td>
                                            <tr>
                                                <td>분류</td>
                                                <td>소설/시/희곡</td>
                                            </tr>
                                            <tr>
                                                <td>가격</td>
                                                <td>35,000원</td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>
                                <div class="button-container">
                                    <button>주문하기</button>
                                    <button>삭제하기</button>
                                </div>
                            </div>

                            <div class="book-container">
                                <input type="checkbox" checked>
                                <div class="image-container">
                                    <!-- <img th:src="@{/images/purchase/backgang.jpg}" alt="백광"> -->
                                    <img src="/static/images/purchase/backgang.jpg" alt="백광">
                                </div>
                                <div class="book-data">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>AL0000002747</td>
                                            </tr>
                                            <tr>
                                                <td>도서제목</td>
                                                <td>백광</td>
                                            </tr>
                                            <tr>
                                                <td>작가</td>
                                                <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                            </tr>
                                            <tr>
                                                <td>출판사</td>
                                                <td>모모</td>
                                            </tr>
                                                <td>출판연도</td>
                                                <td>2022</td>
                                            <tr>
                                                <td>분류</td>
                                                <td>소설/시/희곡</td>
                                            </tr>
                                            <tr>
                                                <td>가격</td>
                                                <td>35,000원</td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>
                                <div class="button-container">
                                    <button>주문하기</button>
                                    <button>삭제하기</button>
                                </div>
                            </div>

                            <div class="book-container">
                                <input type="checkbox" checked>
                                <div class="image-container">
                                    <!-- <img th:src="@{/images/purchase/backgang.jpg}" alt="백광"> -->
                                    <img src="/static/images/purchase/backgang.jpg" alt="백광">
                                </div>
                                <div class="book-data">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>AL0000002747</td>
                                            </tr>
                                            <tr>
                                                <td>도서제목</td>
                                                <td>백광</td>
                                            </tr>
                                            <tr>
                                                <td>작가</td>
                                                <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                            </tr>
                                            <tr>
                                                <td>출판사</td>
                                                <td>모모</td>
                                            </tr>
                                                <td>출판연도</td>
                                                <td>2022</td>
                                            <tr>
                                                <td>분류</td>
                                                <td>소설/시/희곡</td>
                                            </tr>
                                            <tr>
                                                <td>가격</td>
                                                <td>35,000원</td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>
                                <div class="button-container">
                                    <button>주문하기</button>
                                    <button>삭제하기</button>
                                </div>
                            </div>

                            <div class="book-container">
                                <input type="checkbox" checked>
                                <div class="image-container">
                                    <!-- <img th:src="@{/images/purchase/backgang.jpg}" alt="백광"> -->
                                    <img src="/static/images/purchase/backgang.jpg" alt="백광">
                                </div>
                                <div class="book-data">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>AL0000002747</td>
                                            </tr>
                                            <tr>
                                                <td>도서제목</td>
                                                <td>백광</td>
                                            </tr>
                                            <tr>
                                                <td>작가</td>
                                                <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                            </tr>
                                            <tr>
                                                <td>출판사</td>
                                                <td>모모</td>
                                            </tr>
                                                <td>출판연도</td>
                                                <td>2022</td>
                                            <tr>
                                                <td>분류</td>
                                                <td>소설/시/희곡</td>
                                            </tr>
                                            <tr>
                                                <td>가격</td>
                                                <td>35,000원</td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>
                                <div class="button-container">
                                    <button>주문하기</button>
                                    <button>삭제하기</button>
                                </div>
                            </div>

                        </div> 


                    </div>  
                </div>
            </div>
        </main>
        <footer id ="footer" th:insert="~{fragment/footer::footers}"></footer>
    </div>
    <script src="/js/fragment/side_menu.js"></script>
</body>
</html>