<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book-store < 도서결제</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!-- iamport -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <!-- / iamport -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/side_menu.css}">
    <link rel="stylesheet" th:href="@{/css/purchase/purchase.css}">
    <link rel="stylesheet" th:href="@{/css/purchase/responsive.css}">
    <!-- <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/fragment/header.css">
    <link rel="stylesheet" href="/static/css/fragment/footer.css">
    <link rel="stylesheet" href="/static/css/fragment/side_menu.css">
    <link rel="stylesheet" href="/static/css/purchase/purchase.css"> -->
</head>

<body>
    <div id="container">
        <header id="header" th:insert="~{fragment/header::headers}"></header>

        <main class="main-container">
            <div class="serve-container">
                <!--main-container basis 1 -->
                <div th:insert="~{fragment/side_menu::sideMenu}" class="menu-container"></div>
                
                <!--main-container basis 2 -->
                <div class="book-purchase-list">
                    <h1><input type="checkbox"> 도서 결제</h1>
                    <hr>

                    <div class="third-container">
                        <div class="purchase-container">
                            <!-- purchase-container basis 1 -->
                            <div class="book-cointainer">
                                <div class="book-main-container">
                                    <div class="image-input-container">
                                        <input type="checkbox" checked>
                                        <div class="image-container">
                                            <img th:src="@{/images/purchase/backgang.jpg}" alt="백광">
                                            <!-- <img src="/static/images/purchase/backgang.jpg" alt="백광"> -->
                                        </div>
                                    </div>
                                    <div class="book-data">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>AL0000002747</td>
                                                </tr>
                                                <tr>
                                                    <td>도서제목</td>
                                                    <td>백광</td>
                                                </tr>
                                                <tr>
                                                    <td>작가</td>
                                                    <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                                </tr>
                                                <tr>
                                                    <td>출판사</td>
                                                    <td>모모</td>
                                                </tr>
                                                    <td>출판연도</td>
                                                    <td>2022</td>
                                                <tr>
                                                    <td>분류</td>
                                                    <td>소설/시/희곡</td>
                                                </tr>
                                                <tr>
                                                    <td>가격</td>
                                                    <td>35,000원</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-container">
                                        <img src="/images/purchase/payment_icon_yellow_medium.png" alt="카카오페이지" id="kakaobutton">
                                        <!-- <img src="/static/images/purchase/payment_icon_yellow_medium.png" alt="카카오페이지" id="kakaobutton"> -->
                                        <button id="purchasebutton">결제하기</button>
                                    </div>
                                </div>

                                <div class="book-main-container">
                                    <div class="image-input-container">
                                        <input type="checkbox" checked>
                                        <div class="image-container">
                                            <!-- <img th:src="@{/images/purchase/backgang.jpg}" alt="백광"> -->
                                            <img src="/static/images/purchase/backgang.jpg" alt="백광">
                                        </div>
                                    </div>
                                    <div class="book-data">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>AL0000002747</td>
                                                </tr>
                                                <tr>
                                                    <td>도서제목</td>
                                                    <td>백광</td>
                                                </tr>
                                                <tr>
                                                    <td>작가</td>
                                                    <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                                </tr>
                                                <tr>
                                                    <td>출판사</td>
                                                    <td>모모</td>
                                                </tr>
                                                    <td>출판연도</td>
                                                    <td>2022</td>
                                                <tr>
                                                    <td>분류</td>
                                                    <td>소설/시/희곡</td>
                                                </tr>
                                                <tr>
                                                    <td>가격</td>
                                                    <td>35,000원</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-container">
                                        <img src="/static/images/purchase/payment_icon_yellow_medium.png" alt="카카오페이지" id="kakaobutton">
                                        <button id="purchasebutton">결제하기</button>
                                    </div>
                                </div>

                                <div class="book-main-container">
                                    <div class="image-input-container">
                                        <input type="checkbox" checked>
                                        <div class="image-container">
                                            <!-- <img th:src="@{/images/purchase/backgang.jpg}" alt="백광"> -->
                                            <img src="/static/images/purchase/backgang.jpg" alt="백광">
                                        </div>
                                    </div>
                                    <div class="book-data">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>AL0000002747</td>
                                                </tr>
                                                <tr>
                                                    <td>도서제목</td>
                                                    <td>백광</td>
                                                </tr>
                                                <tr>
                                                    <td>작가</td>
                                                    <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                                </tr>
                                                <tr>
                                                    <td>출판사</td>
                                                    <td>모모</td>
                                                </tr>
                                                    <td>출판연도</td>
                                                    <td>2022</td>
                                                <tr>
                                                    <td>분류</td>
                                                    <td>소설/시/희곡</td>
                                                </tr>
                                                <tr>
                                                    <td>가격</td>
                                                    <td>35,000원</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-container">
                                        <img src="/static/images/purchase/payment_icon_yellow_medium.png" alt="카카오페이지" id="kakaobutton">
                                        <button id="purchasebutton">결제하기</button>
                                    </div>
                                </div>

                                <div class="book-main-container">
                                    <div class="image-input-container">
                                        <input type="checkbox" checked>
                                        <div class="image-container">
                                            <!-- <img th:src="@{/images/purchase/backgang.jpg}" alt="백광"> -->
                                            <img src="/static/images/purchase/backgang.jpg" alt="백광">
                                        </div>
                                    </div>
                                    <div class="book-data">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>AL0000002747</td>
                                                </tr>
                                                <tr>
                                                    <td>도서제목</td>
                                                    <td>백광</td>
                                                </tr>
                                                <tr>
                                                    <td>작가</td>
                                                    <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                                </tr>
                                                <tr>
                                                    <td>출판사</td>
                                                    <td>모모</td>
                                                </tr>
                                                    <td>출판연도</td>
                                                    <td>2022</td>
                                                <tr>
                                                    <td>분류</td>
                                                    <td>소설/시/희곡</td>
                                                </tr>
                                                <tr>
                                                    <td>가격</td>
                                                    <td>35,000원</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-container">
                                        <img src="/static/images/purchase/payment_icon_yellow_medium.png" alt="카카오페이지" id="kakaobutton">
                                        <button id="purchasebutton">결제하기</button>
                                    </div>
                                </div>

                                <div class="book-main-container">
                                    <div class="image-input-container">
                                        <input type="checkbox" checked>
                                        <div class="image-container">
                                            <!-- <img th:src="@{/images/purchase/backgang.jpg}" alt="백광"> -->
                                            <img src="/static/images/purchase/backgang.jpg" alt="백광">
                                        </div>
                                    </div>
                                    <div class="book-data">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>AL0000002747</td>
                                                </tr>
                                                <tr>
                                                    <td>도서제목</td>
                                                    <td>백광</td>
                                                </tr>
                                                <tr>
                                                    <td>작가</td>
                                                    <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                                </tr>
                                                <tr>
                                                    <td>출판사</td>
                                                    <td>모모</td>
                                                </tr>
                                                    <td>출판연도</td>
                                                    <td>2022</td>
                                                <tr>
                                                    <td>분류</td>
                                                    <td>소설/시/희곡</td>
                                                </tr>
                                                <tr>
                                                    <td>가격</td>
                                                    <td>35,000원</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-container">
                                        <img src="/static/images/purchase/payment_icon_yellow_medium.png" alt="카카오페이지" id="kakaobutton">
                                        <button id="purchasebutton">결제하기</button>
                                    </div>
                                </div>

                                <div class="book-main-container">
                                    <div class="image-input-container">
                                        <input type="checkbox" checked>
                                        <div class="image-container">
                                            <!-- <img th:src="@{/images/purchase/backgang.jpg}" alt="백광"> -->
                                            <img src="/static/images/purchase/backgang.jpg" alt="백광">
                                        </div>
                                    </div>
                                    <div class="book-data">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>AL0000002747</td>
                                                </tr>
                                                <tr>
                                                    <td>도서제목</td>
                                                    <td>백광</td>
                                                </tr>
                                                <tr>
                                                    <td>작가</td>
                                                    <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                                </tr>
                                                <tr>
                                                    <td>출판사</td>
                                                    <td>모모</td>
                                                </tr>
                                                    <td>출판연도</td>
                                                    <td>2022</td>
                                                <tr>
                                                    <td>분류</td>
                                                    <td>소설/시/희곡</td>
                                                </tr>
                                                <tr>
                                                    <td>가격</td>
                                                    <td>35,000원</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-container">
                                        <img src="/static/images/purchase/payment_icon_yellow_medium.png" alt="카카오페이지" id="kakaobutton">
                                        <button id="purchasebutton">결제하기</button>
                                    </div>
                                </div>

                                <div class="book-main-container">
                                    <div class="image-input-container">
                                        <input type="checkbox" checked>
                                        <div class="image-container">
                                            <!-- <img th:src="@{/images/purchase/backgang.jpg}" alt="백광"> -->
                                            <img src="/static/images/purchase/backgang.jpg" alt="백광">
                                        </div>
                                    </div>
                                    <div class="book-data">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>AL0000002747</td>
                                                </tr>
                                                <tr>
                                                    <td>도서제목</td>
                                                    <td>백광</td>
                                                </tr>
                                                <tr>
                                                    <td>작가</td>
                                                    <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                                </tr>
                                                <tr>
                                                    <td>출판사</td>
                                                    <td>모모</td>
                                                </tr>
                                                    <td>출판연도</td>
                                                    <td>2022</td>
                                                <tr>
                                                    <td>분류</td>
                                                    <td>소설/시/희곡</td>
                                                </tr>
                                                <tr>
                                                    <td>가격</td>
                                                    <td>35,000원</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-container">
                                        <img src="/static/images/purchase/payment_icon_yellow_medium.png" alt="카카오페이지" id="kakaobutton">
                                        <button id="purchasebutton">결제하기</button>
                                    </div>
                                </div>

                                <div class="book-main-container">
                                    <div class="image-input-container">
                                        <input type="checkbox" checked>
                                        <div class="image-container">
                                            <!-- <img th:src="@{/images/purchase/backgang.jpg}" alt="백광"> -->
                                            <img src="/static/images/purchase/backgang.jpg" alt="백광">
                                        </div>
                                    </div>
                                    <div class="book-data">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>AL0000002747</td>
                                                </tr>
                                                <tr>
                                                    <td>도서제목</td>
                                                    <td>백광</td>
                                                </tr>
                                                <tr>
                                                    <td>작가</td>
                                                    <td>렌조 미키히코 지음; 양윤옥 옮김</td>
                                                </tr>
                                                <tr>
                                                    <td>출판사</td>
                                                    <td>모모</td>
                                                </tr>
                                                    <td>출판연도</td>
                                                    <td>2022</td>
                                                <tr>
                                                    <td>분류</td>
                                                    <td>소설/시/희곡</td>
                                                </tr>
                                                <tr>
                                                    <td>가격</td>
                                                    <td>35,000원</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-container">
                                        <img src="/static/images/purchase/payment_icon_yellow_medium.png" alt="카카오페이지" id="kakaobutton">
                                        <button id="purchasebutton">결제하기</button>
                                    </div>
                                </div>




                            </div>

                            
                            <div class="purchase-box-container" id="purchaseBox">
                                <div class="right-box">
                                    <div class="book-title">
                                        <label>도서명</label>
                                        <p>Lorem ipsum dolor sit amet.</p>
                                    </div>
                                    <div class="total-count">
                                        <label>수량</label>
                                        <span>
                                            <button><i class="fa-solid fa-minus"></i></button>
                                            <input type="text" defalut="1">
                                            <button><i class="fa-solid fa-plus"></i></button>
                                        </span>
                                    </div>
                                    <div class="book-price">
                                        <label>금액</label>
                                        <span>1,000원</span>
                                    </div>
                                    <!-- <hr class="split-line"> -->
                                  
                                    <hr>
                                    <div class="total-price">
                                        <p>총 결제 금액</p>
                                        <p>1,000원</p>
                                    </div>
                                </div>
                            </div>
                        </div> 


                        

                    </div>  
                </div>
            </div>
        </main>
        <footer id ="footer" th:insert="~{fragment/footer::footers}"></footer>
    </div>
    <script src="/js/fragment/side_menu.js"></script>
    <script src="/js/purchase/kakaoPay.js"></script>
    <!-- <script src="/js/purchase/import.js"></script> -->
    <script src="/js/purchase/right_box_scroll.js"></script>
</body>

</html>