<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/test.css">
</head>
<body>
    <header>sdfasdfsf</header>
    <div class="main-container">
        <h1>Welcome</h1>
        <div class="login">
            <div class="book-data">
                <label>도서코드</label>
                <span>AL0000002747</span>

                <label><h2>도서제목</h2></label>
                <span><h2>백광</h2></span><br>

                <label>작가</label>
                <span>렌조 미키히코 지음; 양윤옥 옮김</span><br>

                <label>출판사</label>
                <span>모모</span><br>

                <label>출판연도</label>
                <span>2022</span><br>

                <label>분류</label>
                <span>소설/시/희곡</span><br>

                <label>가격</label>
                <span>35,000원</span><br>

            </div>
        </div>
    </div>
</body>
</html>