@charset 'utf-8';

    #Account-view {
      width: 100%;
      height: 100%;
    }

    .img_del{
        cursor: pointer;
    }

    table tr {
      border-bottom: 1px solid #888;
    }

    table tr:nth-child(1) {
      border-top: 1px solid #ccc;
    }

    .w-15 p {
      border-top: 1px solid #ccc;
    }

    .btn-wrap {
      margin: 3px;
      text-align: right;
      margin-top: 10px;

    }

    .btn01, .btn02, .btn03{
        margin : 3px;
        cursor: pointer;
    }