@charset 'utf-8';

.mainH2 {
    margin-bottom: 10px;
}

.tb1_frm01 th {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: #f6f6f6;
    padding: 10px;
    text-align: left;
}

.tb1_frm01 input {
    background: #e6e6e6;
}

table {
    width: 100%;
}

.midH2 {
    margin-top: 10px;
}