@charset 'UTF-8';

header {
  background-color: #fff;
  padding: 20px;
  width: 0 auto;
  font-size: 13px;

}

/* .sidebar-icon{
  
} */

.header-links {
  display: flex;
  justify-content: flex-end;
}

.header-links .sub-link {
  margin-left: 20px;
  list-style-type: none;
}

.sub-link a {
  text-decoration: none;
  color: #333;
}

#user-icon{
  border-radius: 2px;
}