@charset "UTF-8";

main {
    /* 크기별 반응 만들어야 함 */
    background-color: blue;
    padding-top: 1%;
    padding-left: 5px;
    height: 100vh;
    margin-left: 180px;

}

.top-h2 {
    display: block;
    background-color: aliceblue;
}

.chart-wrap {
    display: flex;
    background-color: #fff;
}

.chart {
    display: flex;
    padding: 1%;
}

#t-icon {
    display: none;
}