@charset "UTF-8";


/* ------------------------------ 대시보드 css---------------------------------- */
.top-h2 {
    display: block;
}

.chart-wrap {
    display: flex;
    background-color: #fff;
}

.chart {
    display: flex;
    padding: 1%;
}

