@charset "UTF-8";

.main-right {
    background-color: aliceblue;
    padding-top: 1%;
    padding-left: 5px;
    height: 100vh;
    margin-left: 180px;
}

/* ------------------------------ 대시보드 css---------------------------------- */
.top-h2 {
    display: block;
}

.chart-wrap {
    display: flex;
    background-color: #fff;
}

.chart {
    display: flex;
    padding: 1%;
}

