@charset 'utf-8';



/* ------------------------------ 주문관리 css---------------------------------- */

.main-right {
    background-color: aliceblue;
    padding-top: 1%;
    padding-left: 5px;
    height: 100vh;
    margin-left: 180px;
}

#order{
    width: 100%;
}

.order-top ul{
    display: flex;
}
.order-top ul li{
    font-size: 23px;
    margin-right : 6px;
    margin-bottom: 5px;
}

.order-mid{
    display: flex;
    margin-bottom: 10px;
}

.order-mid ul{
    display: flex;

}

.order-mid ul li{
    border: 1px solid #000;

}

.order-mid ul li button{
    background-color: aliceblue;
    font-size: 20px;
    
    padding : 3px;
}

.mid-right {
    margin-left : 10px;
}

#order thead tr th:nth-child(1){width: 13%;} 
#order thead tr th:nth-child(2){width: 10%;} 
#order thead tr th:nth-child(3){width: auto;} 
#order thead tr th:nth-child(4){width: 20%;} 
#order thead tr th:nth-child(5){width: 10%;} 
#order thead tr th:nth-child(6){width: 13%;} 

#order-bot{
    display: flex;
    border: 1px solid #000;
}

.bot-body th, .bot-body td{ 
    border: 1px solid #000;
}

