@charset 'UTF-8';

.sidebar {
    background-color: blueviolet;
    width: 180px;
    height: 100vh;
    position: fixed;
    display: block;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0, auto;
  }

  .sidebar li {
    padding: 10px;
  }

  .sidebar li a {
    text-decoration: none;
    color: #fff;
  }

  .sidebar .logo {
    text-align: center;
    padding-bottom: 20px;
  }


  .sidebar .dashboard {
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    list-style-type: none;
  }

  .sidebar .sub-link {
    margin-left: 20px;
    display: none;
    max-height: 0;
    overflow: auto;
  }

  .dashboard.opened .sub-link, #dash-up{
    display: block;
    max-height: 300px;
  }