@charset 'utf-8';

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
}

.serve-container {
    display: flex;

    width: 1400px;
}

/* main-container basis 1 */
.menu-container {
    flex-basis: 15%;

    margin: 10px;
    padding: 10px;
    height: calc(95vh - 80px);
    width: 100%;
    
    background-color: #e0212119;
}

/* main-container basis 2 */
.book-list {
    flex-basis: 85%;

    margin: 10px;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.title-container h1 { 
    padding: 5px 0px 5px 18px;

    color: #555;
    font-size: 26px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding: 5px 0px 5px 18px;
    width: 150px;
    height: 100%;
}

.button-container button {
    border-radius: 3px;

    font-size: 15px;
    font-weight: bold;

    color: #fff;
    background-color: #FFADAD;

    cursor: pointer;
}

.button-container button:hover {
    background-color: #f9a4a4;
}

.cart-button {
    width: 100px;
    height: 30px;
}

.fourth-container {
    width: 100%;
}


.book-container {
    display: flex;
    align-items: center;

    margin-bottom: 5px;
    padding-left: 20px;
    width: 100%;
    height: 240px;

    font-size: 14px;
}

.image-container {
    margin-left: 10px;
    width: 190px;
    height: 230px;

    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.image-container img:hover {
    /* transform: rotate( 20deg ); */
    transform: scale(0.8);
    transition: 0.3s;
}

.book-data {
    display: flex;
    width: 700px;
    height: 230px;

    font-size: 14px;
}

.book-data table {
    margin-left: 20px;
    width: 90%;
}

/* .book-data tbody tr, .book-data tbody tr td {
    border: 1px solid #ccc;
} */

.book-data tbody td {
    padding: 10px;
}

.book-data tbody td:nth-child(1) {
    width: 10%;
    padding: 1px;
}

.book-data tbody td:nth-child(2), .book-data tbody tr:nth-child(2) {
    padding: 6px;
}

/* 도서제목 */
.book-data tbody tr:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    flex-direction: row;

    /* 줄바꿈 안 시키는거 */
    white-space: nowrap;
}

/* 가격부분!!! */
.book-data tbody tr:nth-child(7) {
    border-top: 1px solid #ccc;

    font-weight: bold;
}

.user-container {
    margin-left: 10px;
}

.view {    
    margin-left: 5px;
}

.book-like {
    margin-left: 10px;
}

.book-like:hover {
    cursor: pointer;
}

.purchase-button {
    width: 100px;
    height: 50px;
}


/* paging */
.paging-container { 
    margin: 20px 0px;
    
    text-align: center;
}

.paging-container button {
    margin-top: 5px;

    background-color: transparent;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    
    cursor: pointer;
}





