@charset 'utf-8';

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
}

.serve-container {
    display: flex;

    width: 1400px;
}

/* main-container basis 1 */
.menu-container {
    flex-basis: 15%;

    margin: 10px;
    padding: 10px;
    height: calc(95vh - 80px);
    width: 100%;
    
    /* background-color: #e0212119; */
}

/* main-container basis 2 */
.mypage-container {
    flex-basis: 85%;

    margin: 10px;

    color: #fff;
    background-color: #FFADAD;
}





