@charset 'utf-8';

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
}

.serve-container {
    display: flex;

    width: 1400px;
}

/* main-container basis 1 */
.menu-container {
    flex-basis: 15%;

    margin: 10px;
    padding: 10px;
    height: calc(100vh - 80px);
    width: 100%;

    /* background-color: #e0212119; */
}

/* main-container basis 2 */
.book-purchase-list {
    flex-basis: 85%;

    margin: 10px;
    height: auto;
}

.book-purchase-list h1 { 
    padding: 5px 0px 5px 18px;

    color: #555;
    font-size: 26px;
}

.third-container {
    width: 100%;
}

.purchase-container {
    
    margin-bottom: 10px;
    width: 100%;
}

/* purchase-container basis 1 */
.book-cointainer {
    flex-basis: 75%;
}

.book-main-container {
    display: flex;

    padding-bottom: 20px;
}

.image-input-container {
    display: flex;
    align-items: center;

    height: 230px;
}

.image-container {
    margin-left: 10px;
    width: 190px;
    height: 230px;

    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.image-container img:hover {
    /* transform: rotate( 20deg ); */
    transform: scale(0.8);
    transition: 0.3s;
}

.book-data {
    width: 550px;
    height: 230px;

    font-size: 14px;
}

.book-data table {
    margin-left: 20px;
    width: 90%;
}


.book-data tbody td {
    padding: 10px;
}

.book-data tbody td:nth-child(1) {
    width: 10%;
    padding: 1px;
}


.book-data tbody tr:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}

.book-data tbody tr:nth-child(7) {
    border-top: 1px solid #ccc;

    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    height: 230px;
}

.button-container img {
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
}


.button-container button {
    width: 100px;
    height: 50px;

    border-radius: 3px;

    font-size: 15px;
    font-weight: bold;

    color: #fff;
    background-color: #FFADAD;
    

    cursor: pointer;
}

.button-container button:hover {
    background-color: #f9a4a4;
}

/* purchase-container basis 2 */
.purchase-box-container {
    position: fixed;
    top: 20%;
    left: 73%;

    margin-right: 30px;

    line-height: 1.5 ;
}

.right-box {
    padding: 20px;
    width: 230px;

    border: 1px solid #e7e7e7;
    border-radius: 3px;
}

.book-title, .total-count, .book-price {
    padding-bottom: 5px;
}

.book-title label, .total-count label, .book-price label {
    font-weight: bold;
}

.book-price, .total-count span, .total-price {
    display: flex;
    justify-content: space-between;
}

.total-count span {
    width: 70px;
}

.minus:hover {
    cursor: pointer;
}

.plus:hover {
    cursor: pointer;
}

.total-count button {
    background-color: transparent;
}

.total-count input {
    width: 30px;

    text-align: center;
}

.split-line {
    border: 1px dashed #dbdbdb;
}




