@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&family=Roboto&display=swap');





/* 레이아웃 */
.wrap {
    width : 100%;
    margin: 0 auto;

}

.container {
    width : 1200px;
    margin : 0 auto;
}


/* 레이아웃 */
/* 헤더 */
#header {
    height: 100px;
}

#header .container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    font-family: 'Nanum Gothic', sans-serif;
}

.logo {
    width: 20%;
    margin-left: 30px;
}

/* .logo a img{
    width: 20%;
} */

.logo-wrap img{
    width: 85%;
    
    
}
.search-wrap {
    display: flex;
}


.search-wrap .search {
    width : 500px;
    height : 40px;
    border: 2.5px solid rgb(239, 84, 77);
    border-radius: 20px;
    margin-top: 30px;
    padding : 10px 20px;
    outline : 0;
}

.search-btnwrap {
    margin-top: 32px;
    margin-left: 10px;
}

.search-btnwrap a {
    font-size: 30px;
    color : rgb(239, 84, 77);
}

/* ­
-1. ul : display : flex, justify-content :center,
-2 : li : float : left, margin-right:30px; 
*/

.mypage {
    width: 25%;
    align-items: center;
    flex-basis: 20%;
}

.mypage-wrap {
    position : relative;
    margin-top: 35px;
}

.mypage > ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin : 15px 70px;
}

.mypage .mypage-wrap > ul {
    display: flex;
    justify-content: space-between;
}

.mypage .mypage-wrap > ul > li > a {
    color: rgb(239, 84, 77);
    font-size: 25px;
    margin-right : 35px;
}

.login-a {
margin-top : 5px;
}

.mypage .mypage-wrap > ul > li .login {
    font-size: 15px;
    background-color : rgb(239, 84, 77);
    border-radius: 10px;
    color: #fff;
    letter-spacing : -0.5px;
    padding : 10px;
}





.submenu {
    position: absolute;
    top : 50px;
    right : 35px;
    z-index: 1000;
    font-family: 'Nanum Gothic', sans-serif;
    width: 200px;
    height: 360px;
    padding: 20px;
    background-color: rgb(239, 84, 77);
    box-shadow: 1px solid #444;
    display: none;
}

.submenu h1{
    font-size: 25px;
    margin-bottom: 20px;
    color: #fff;
}

.submenu > li  {
    margin-bottom: 10px;
    padding-left: 10px;
    font-weight: 550;
    border-left: 3px solid #fff;
}


.submenu > li > a{
    color: #fff;
}







/* category */
#category {
    height: 110px;
    background-color: #f7f7f7;
    font-family: 'Nanum Gothic', sans-serif;
}

#category .container{
    width: 900px;
    margin: 0 auto;
}

.menu ul{
    width: 60%;
    display: flex;
    margin: 10px 0;
    margin-left: 10px;
    padding-top: 20px;
    text-align: center;
}

.menu ul li {
    float : left;
    font-weight: bold;
    margin-right: 40px;
}

.menu ul li a {
    font-size: 17px;
    padding-bottom: 5px;
}

.menu ul li a:hover  {
    color: rgb(239, 84, 77);
    border-bottom: 2px solid rgb(239, 84, 77)
}

.button-wrap ul {
    display: flex;
}

.button-wrap ul li {
    margin-top: 10px;
    margin-right: 12px;
    border-radius: 15px;
    background-color: #d7d7d7;
    font-size: 13px;
    border-radius: 20px;
    padding : 10px;
    
}

.button-wrap ul li a {
    font-size: 13px;
}


.button-wrap ul li:first-child {
    background-color:rgb(239, 84, 77);
}

.button-wrap ul li:hover {
    background-color: rgb(239, 84, 77);
}


.button-wrap > ul > li > a:hover {
    color: #f7f7f7;
}










/* main */
#main {
    height: 60%;
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
}

#main .container {
    width: 1200px;
    margin-top : 10px;
}

.main1 {
    height: 50px ;
}

.main1-wrap {
    height: 50px;
    display: flex;
    background-color: rgb(239, 84, 77);
    border-radius: 12px;
    padding-left:50px;
}

.main1-wrap img {
    width: 30px;
    height: 36px;
    margin-right : 10px;
    margin-top : 8px;
    border-radius: 10px;
}


.main1-wrap h1 {
    margin-top : 12.5px;
    font-size: 25px;

}

.main1-wrap h1 a {
    color: #fff;
}

.main1-wrap h1 a:hover {
    color : rgb(238, 238, 238);
}










.main2 {
    height: 10%;
    font-family: 'Nanum Gothic', sans-serif;
}

.main2-img {
    position: relative;
}

.main2-img img {
    width: 1200px;
    height : 650px;
    margin-top: 10px;
    border-radius: 15px;
    overflow:hidden;
}

.main2-text {
    position : absolute;
    left: 50px;
    bottom: 50px;
    color: #d7d7d7;
    background-color: rgba(68, 68, 68, 0.5);
    padding: 15px;
}

.main2-text a {
    color: #fff;;
    text-align: center;
}

.main2-text a p {
    margin-top: 10px;
}
.main3 {
    height: 10%;

}


.main4-wrap img {
    width: 250px;
    box-shadow: 0 0 5px 3px rgb(204, 204, 204);
}

.recommand1 {
    display: flex;
    justify-content: space-between;
}

.recommand-gawoodi {
    display: flex;
    justify-content: space-between;
    background-color: rgba(239, 84, 77, 0.1);
    padding: 20px;
    border-radius : 20px;
}

.recommand1 .recommand-gawoodi1 {
    display: flex;
    width: 70%;

}

.recommand-subject h4{ 
    font-family: 'Nanum Gothic', sans-serif;
    color: #000;
    text-align: left;
    margin-bottom: 15px;
}

.recommand-subject h4 strong {
    color: rgb(239, 84, 77);
}

.recommand-subject img {
    position: relative;
    z-index: 1;
}

.recommand-book p {
    letter-spacing: -1px;
    line-height: 20px;
}



/* 1 */

.recommand-book1 {
    width: 250px;
    font-family: 'Nanum Gothic', sans-serif;
    /* 위 오른쪽 아래 왼쪽 */
    margin: 50px 0px 80px 20px;
    border-left: 1px solid #000;
    padding-left: 10px;
    background-color: #fff;
    padding: 10px;
}



.recommand-book1 h2 {
    line-height: 30px;
    text-align: left;
    color:#1640A2
}


.recommand-book1 p {
    text-align: left;
}



.recommand-book2 {
    width: 250px;
    font-family: 'Nanum Gothic', sans-serif;
    /* 위 오른쪽 아래 왼쪽 */
    /* 세개일땐뭐지  위/왼쪽오른/아래*/
    margin:  -10px 0.3px 20px;
    border-right: 1px solid #000;
    background-color: #fff;
    padding: 10px;
}

.recommand-book2 h2 {
    line-height: 30px;
    text-align: right;
    color: rgb(239, 84, 77);
}

.recommand-book2 p {
    text-align: right;
}





.trend {
    width: 30%;
    background-color: rgba(239, 84, 77, 0.3);
    padding: 20px;
    border-radius : 20px;
}

.trend .recommand-subject h4 {
    text-align: center;
}
.trend .recommand-subject img {
    width: 210px;
    margin-left: 53px;
    margin-top: 10px;
    box-shadow: 0 0 5px 3px rgb(255, 227, 227);
}

.recommand-text {
    font-family: 'Nanum Gothic', sans-serif;
}

.recommand-text p {
    margin-top:15px;
    text-align: center;
    font-size: 15px;
    letter-spacing: -1px;
}

.recommand-text h4 {
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: -2px;
}




.recommand2 {
    display: flex;
    flex-basis: 30%;
    justify-content: space-between;
    margin-top: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

.recommand2 h1 {
    margin-bottom: 10px;
    letter-spacing: -1.8px;
    font-size: 25px;
}

.recommand2 h1 strong {
    color: rgb(239, 84, 77);
}

.border {
    width: 400px;
    display: flex;
    border: 0.8px solid #999;
    border-radius: 15px;
    padding: 35px;
}


.border .r2-text {
    margin-top: 70px;    
    margin-left: 30px;
}
.border .r2-text h4{
    font-size: 25px;
    margin-bottom: 15px;
    letter-spacing: -1px;
}

.border img {
    width: 150px;
}

.border .r2-text a .p {
    margin: 30px 0;
}






.choice {
    width:32%;
}





.media {
    width:32%;

}

.media-wrap .r2-text {
    margin-top: 8px;
}

.media-wrap .r2-text a p {
    font-size: 15px;
}



.thisbook {
    width:32%;

}

.thisbook-wrap .r2-text  {
    margin-top: 10px;
}






.ad {
    height: 10%;
    background-color:#58CFC7;
    font-family: 'Nanum Gothic', sans-serif;
}

.ad-wrap {
    width: 1200px;
    margin: 0 auto;
    display: flex;

}

.ad-text {
    padding: 20px 100px;
    margin: 0 auto;
    border-right: 1px solid #fff;
    
}
.ad-text:nth-child(2) {
    border: none;
}

.ad-text a {
    color: #fff;
}

.ad-text a:hover {
    color: #fffb00;
}

.ad-text a p i {
    color: #fffb00;
}






/* main css */
.main6 {
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 10px;
    position: relative;
}

.main6-h1 h1 {
    text-align: center;
    color : rgb(239, 84, 77);
    padding-bottom: 25px;
    border-bottom: 1px solid #999;
    text-shadow: 0 0 5px 3px rgb(192, 192, 192);
    letter-spacing:3px;
}





.main6-menu ul {
    display: flex;
    margin-top: 30px;
    margin-left :210px;

    /* 넘치면 가려주세요 */
    overflow:hidden;
}
.main6-menu ul li{
    padding: 15px;
    margin-right: 40px;
    justify-content: center;
    font-weight: bolder;
    cursor: pointer;
}

/* 배경색 바뀌게 해주는거 이거개중요!! */
ul li.active {
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(239, 84, 77);
}

.main6-menu li:hover {
    color: rgb(239, 84, 77);
}


.tab-content {
    display: none;
}



.main6-list-wrap {
    display: flex;
    padding : 10px;
    justify-content : space-between;
}


.main6-list-wrap.last ul li a {
    display: block;
}

.main6-list {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    padding : 20px;
}


.tab-content.active {
    display: block;
}






.main6-list-subject img {
    width: 150px;
    height: 210px;
    box-shadow: 0 0 5px 3px rgb(192, 192, 192);
    text-align: center;
}


.main6-list-subject img:hover {
    transform: scale(1.03);
    transition: 0.1s;
}

.main6-list-text h6 {
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
}

.main6-list-text h6:hover {
    color: #777;
}

.main6-list-text p {
    letter-spacing: -0.5px;
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
}

.main6-list-text.one {
    margin-top: -5px;
}

.main6-list-text.one p {
    margin-top: 10px;
}

.main6-list-text p:hover {
    color: #777;
}








/* footer */
#footer {
    background-color: rgb(239, 84, 77);
    border-top: 2px solid #f7f7f7;
    font-family: 'Nanum Gothic', sans-serif;
}

#footer .container {
    width: 1200px;
    height : 200px;
}


.info1-wrap{
    font-size: 13px;
    padding-top: 20px;
}

.info1-wrap ul {
    display: flex;
    margin-left: 10px;
}

.info1-wrap ul li {
    letter-spacing: -1.5px;
    font-weight: bold;

}

.info1-wrap ul li a{
    margin-right: 10px;
    color: #fff;
}

.info2 {
    font-size: 13px;
}

.info2-wrap {
    margin-top: 20px;
}

.info2-wrap ul {
    display: flex;
    margin-left: 10px;
}

.info2-wrap ul li {
    color: #fff;
    border-right: 2px solid #ffffff;
    padding-right :15px;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    letter-spacing: 0.5;
}


.info2-wrap ul li:last-child {
    border: 0;
}

.info2-wrap ul li a {
    color: #fff;
}

.info3 {
    margin-top: 25px;
    margin-left: 10px;
    font-size: 13px;
}

.info3 p {
    letter-spacing: 0.5;
    color: #fff;
}