<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">

<body>

  <div th:fragment="headers" th:if="${session.adminChk != null}">

    <i class="fa-solid fa-bars" style="cursor: pointer;" id="sidebar-icon"></i>
    <ul class="header-links">
      <li class="sub-link">
        <p>[[${session.adminChk.level}]].Level 관리자</p>
        <p>[[${session.adminChk.name}]]님 반갑습니다.</p>
      </li>
      <li class="sub-link">
        <p></p>
      </li>
      <li class="sub-link" id="t-text">
        <a href="/main">
          <i class="fa-solid fa-shop" id="t-icon"></i>
        </a>
      </li>
      <div class="myinfo" style="margin-left: 15px;">
        <i class="fa-solid fa-user" type="button" id="user-icon">

        </i>
      </div>
      <a href="/logout">
        <button style="cursor: pointer;">로그아웃</button>
      </a>
    </ul>
  </div>

</body>

</html>